.scrollBarPanel{
	padding-top:9px;
	padding-bottom:9px;
	padding-right:15px;
	padding-left:15px;
	overflow-y:auto;
    overflow-x:auto;
	min-width:150px;
	min-height:150px;
}
table.dataTable tr.sharedTR {
	background-color:#FFFF00;
}