
<%namespace name="labeledInput" file="/dagr/components/labeledInput.html"/>

<%def name="groupForm(group,enabled)">
% if group is None:
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Download files',name='download',enabled=enabled,hasEmpty=False)"/>
  <%call expr="labeledInput.labeledComboBox(label='TLP',name='tlpLvl',values=cbTLPValues,enabled=enabled,hasEmpty=True,selected=3)"/>
  <%call expr="labeledInput.labeledEditBox(label='Email',name='email',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Send mails to users',name='usermails',enabled=enabled,hasEmpty=False)"/>
% else:
  <input type="hidden" name="identifier" value="${group.identifier}">
  %if not group.identifier is None:
    <%call expr="labeledInput.labeledEditBox(label='Identifier',name='groupID',value=group.identifier,enabled=False)"/>
  %endif
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value=group.name,enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=group.description,enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Download files',name='download',enabled=enabled,hasEmpty=False,selected=group.canDownload)"/>
  <%call expr="labeledInput.labeledComboBox(label='TLP',name='tlpLvl',values=cbTLPValues,enabled=enabled,hasEmpty=True,selected=group.tlpLvl)"/>
  <%call expr="labeledInput.labeledEditBox(label='Email',name='email',enabled=enabled,value=group.email)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Send mails to users',name='usermails',enabled=enabled,hasEmpty=False,selected=group.usermails)"/>
% endif
</%def>

<%def name="subgroupForm(subgroup,enabled)">
% if subgroup is None:
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message='',enabled=enabled)"/>
% else:
  <input type="hidden" name="identifier" value="${subgroup.identifier}">
  %if not subgroup.identifier is None:
    <%call expr="labeledInput.labeledEditBox(label='Identifier',name='groupID',value=subgroup.identifier,enabled=False)"/>
  %endif
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value=subgroup.name,enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=subgroup.description,enabled=enabled)"/> 
% endif
</%def>

<%def name="objectForm(object,enabled)">
% if object is None:
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value='', enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Default Shareable',name='share',enabled=enabled,hasEmpty=False,selected=0)"/>
% else:
  <input type="hidden" name="identifier" value="${object.identifier}">
  %if not object.identifier is None:
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='objectID',value=object.identifier,enabled=False)"/>
  %endif
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value=object.name,enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Checksum',name='',value=object.chksum,enabled=False)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=object.description,enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Default Shareable',name='share',enabled=enabled,hasEmpty=False,selected=object.share)"/>
  
% endif
</%def>

<%def name="userForm(user,enabled)">
<div class="row">
<div class="col-xs-12 col-sm-12" style="text-align:left">
% if user is None:
  <%call expr="labeledInput.labeledEditBox(label='Username',name='username',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledPasswordBox(label='Password',name='password',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Email',name='email',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Priviledged',name='priv',enabled=enabled,hasEmpty=False,selected=0)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Disabled',name='disabled',enabled=enabled,hasEmpty=False,selected=0)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='API Access',name='apikey',enabled=enabled,hasEmpty=False,selected=0)"/>
  <%call expr="labeledInput.labeledComboBox(label='Main Group',name='maingroup',values=cbValues,enabled=enabled,hasEmpty=False,selected=1)"/>
  
% else:
%if not user.identifier is None:
  <input type="hidden" name="identifier" value="${user.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='userID',value=user.identifier,enabled=False)"/>
%endif
  <%call expr="labeledInput.labeledEditBox(label='Username',name='username',value=user.username,enabled=enabled)"/>
  <%call expr="labeledInput.labeledPasswordBox(label='Password',name='password',value=user.password,enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Email',name='email',value=user.email,enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Priviledged',name='priv',enabled=enabled,hasEmpty=True,selected=user.privileged)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Disabled',name='disabled',enabled=enabled,hasEmpty=True,selected=user.disabled)"/>
  
  %if user.hasAPIKey and not enabled:
    <%call expr="labeledInput.labeledEditBox(label='APIKey',name='',value=user.apiKey,enabled=False)"/>
  %else:
    <%call expr="labeledInput.labeledYesNoComboBox(label='API Access',name='apikey',enabled=enabled,hasEmpty=False,selected=user.hasAPIKey)"/>
  %endif
  <%call expr="labeledInput.labeledComboBox(label='Main Group',name='maingroup',values=cbValues,enabled=enabled,hasEmpty=False, selected=user.group_id)"/>
  <%call expr="labeledInput.labeledEditBox(label='Last logged in',name='last_login',value=user.last_login,enabled=False)"/>
  
% endif
</div>
</div>
</%def>

<%def name="attributeForm(attribute,enabled,cbValues, cbHandlerValues)">

% if attribute is None:
  
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='AttrID',value='',enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value='', enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Regular expression',name='regex',value='^.+$',enabled=enabled)"/>
  <%call expr="labeledInput.labeledComboBox(label='ValueTable',name='classIndex',values=cbValues,enabled=enabled,hasEmpty=False,selected=1)"/>
  <%call expr="labeledInput.labeledComboBox(label='Handler',name='handlerIndex',values=cbHandlerValues,enabled=enabled,hasEmpty=False,selected=0)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Relationable',name='relation',enabled=enabled,hasEmpty=False,selected=0)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Default Shareable',name='share',enabled=enabled,hasEmpty=False,selected=0)"/>
% else:
%if not attribute.identifier is None:
  <input type="hidden" name="identifier" value="${attribute.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='AttrID',value=attribute.identifier,enabled=False)"/>
%endif
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value=attribute.name,enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Checksum',name='',value=attribute.chksum,enabled=False)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=attribute.description,enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Regular expression',name='regex',value=attribute.regex, enabled=enabled)"/>
  <%call expr="labeledInput.labeledComboBox(label='Value type',name='classIndex',values=cbValues,enabled=enabled,selected=attribute.classIndex,hasEmpty=False)"/>
  <%call expr="labeledInput.labeledComboBox(label='Handler',name='handlerIndex',values=cbHandlerValues,enabled=enabled,hasEmpty=False,selected=attribute.handlerIndex)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Relationable',name='relation',enabled=enabled,hasEmpty=False,selected=attribute.relation)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Default Shareable',name='share',enabled=enabled,hasEmpty=False,selected=attribute.share)"/>
% endif

</%def>

<%def name="eventForm(event,enabled,cbStatusValues,cbTLPValues,today=None)">
%if enabled:
% if event is None:
  
  <%call expr="labeledInput.labeledEditBox(label='Title',name='name',value='', enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Published',name='published',enabled=enabled,hasEmpty=False)"/>
  
  <%call expr="labeledInput.labeledComboBox(label='Status',name='status',values=cbStatusValues,enabled=enabled,hasEmpty=False)"/>
  <%call expr="labeledInput.labeledComboBox(label='Analysis',name='analysis',values=cbAnalysisValues,enabled=enabled,hasEmpty=False)"/>
  <%call expr="labeledInput.labeledComboBox(label='Risk',name='risk',values=cbRiskValues,enabled=enabled,hasEmpty=False)"/>
  <%call expr="labeledInput.labeledComboBox(label='TLP',name='tlp_index',values=cbTLPValues,enabled=enabled,hasEmpty=False)"/>
  
  
  <%call expr="labeledInput.labeledDateTimePicker(label='Created',name='created',value=today,enabled=False)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='First seen',name='first_seen',value=today,enabled=True)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='Last seen',name='last_seen',value=today,enabled=True)"/>
  

% else:
%if not event.identifier is None:
  <input type="hidden" name="identifier" value="${event.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='EVentID',value=event.identifier,enabled=False)"/>
%endif
  <%call expr="labeledInput.labeledEditBox(label='UUID',name='',value=event.uuid, enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Title',name='name',value=event.title, enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=event.description,enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Published',name='published',enabled=enabled,hasEmpty=True,selected=event.published)"/>
  
  <%call expr="labeledInput.labeledComboBox(label='Status',name='status',values=cbStatusValues,enabled=enabled,hasEmpty=True,selected=event.status_id)"/>
  <%call expr="labeledInput.labeledComboBox(label='Analysis',name='analysis',values=cbAnalysisValues,enabled=enabled,hasEmpty=True,selected=event.analysis_status_id)"/>
  <%call expr="labeledInput.labeledComboBox(label='Risk',name='risk',values=cbRiskValues,enabled=enabled,hasEmpty=True,selected=event.risk_id)"/>
  <%call expr="labeledInput.labeledComboBox(label='TLP',name='tlp_index',values=cbTLPValues,enabled=enabled,hasEmpty=True,selected=event.tlp_level_id)"/>
  
  <%call expr="labeledInput.labeledDateTimePicker(label='Created',name='created',value=event.created,enabled=False)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='First seen',name='first_seen',value=event.first_seen,enabled=enabled)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='Last seen',name='last_seen',value=event.last_seen,enabled=enabled)"/>
  
  
% endif
%else:
<div class="row">
  <div class="col-xs-6 col-md-6">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='EVentID',value=event.identifier,enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='UUID',name='',value=event.uuid, enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Title',name='name',value=event.title, enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Published',name='published',enabled=enabled,hasEmpty=True,selected=event.published)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=event.description,enabled=enabled)"/>
  </div>
  <div class="col-xs-6 col-md-6">
  <%call expr="labeledInput.labeledComboBox(label='Status',name='status',values=cbStatusValues,enabled=enabled,hasEmpty=True,selected=event.status_id)"/>
  <%call expr="labeledInput.labeledComboBox(label='Analysis',name='analysis',values=cbAnalysisValues,enabled=enabled,hasEmpty=True,selected=event.analysis_status_id)"/>
  <%call expr="labeledInput.labeledComboBox(label='Risk',name='risk',values=cbRiskValues,enabled=enabled,hasEmpty=True,selected=event.risk_id)"/>
  <%call expr="labeledInput.labeledComboBox(label='TLP',name='tlp_index',values=cbTLPValues,enabled=enabled,hasEmpty=True,selected=event.tlp_level_id)"/>
  
  <%call expr="labeledInput.labeledDateTimePicker(label='Created',name='created',value=event.created,enabled=False)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='First seen',name='first_seen',value=event.first_seen,enabled=enabled)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='Last seen',name='last_seen',value=event.last_seen,enabled=enabled)"/>
  
  </div>
</div>
% endif
</%def>

<%def name="eventObjectForm(eventID,object,enabled,cbDefinitions)">
<input type="hidden" name="eventID" value="${eventID}">
% if object is None:
  
  <%call expr="labeledInput.labeledComboBox(label='Definition',name='definition',values=cbDefinitions,enabled=enabled,hasEmpty=True)"/>

% else:
%if not object.identifier is None:
  <input type="hidden" name="objIdentifier" value="${object.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='objID',value=object.identifier,enabled=False)"/>
%endif
  <%call expr="labeledInput.labeledComboBox(label='Definition',name='definition',values=cbDefinitions,enabled=enabled,hasEmpty=True,selected=object.def_object_id)"/>
  <%call expr="labeledInput.labeledEditBox(label='Creator',name='userID',value=object.creator.username,enabled=False)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='Created',name='created',value=object.created,enabled=False)"/>
  
% endif

</%def>

<%def name="eventAttributeForm(id,eventID,objectID,attribute,enabled,cbDefinitions)">
<div id="${id}">
<input type="hidden" name="eventID" value="${eventID}">
<input type="hidden" name="objectID" value="${objectID}">
% if attribute is None:
 
  <%call expr="labeledInput.labeledComboBox(label='Type',name='definition',values=cbDefinitions,enabled=enabled,hasEmpty=True)"/>
  <div id="editBox">
  <div id="editBoxHidden">
  <%call expr="labeledInput.genericLabeler('')">
  Please select something
  </%call>
  </div>
  </div>
  
%else:
%if not attribute.identifier is None:
  <input type="hidden" name="attributeID" value="${attribute.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='attID',value=attribute.identifier,enabled=False)"/>
  
%endif
  <%
  enableCB = attributes is None
  %>
  <%call expr="labeledInput.labeledComboBox(label='Type',name='definition',values=cbDefinitions,enabled=enableCB,hasEmpty=True,selected=attribute.definition.identifier)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Is an IOC',name='ioc',enabled=enabled,hasEmpty=False, selected=attribute.ioc)"/>
  <div id="editBox">
  <%call expr="labeledInput.labeledEditBox(label='Value',name='value',value=attribute.value,enabled=enabled)"/>
  </div>
  
  <%call expr="labeledInput.labeledEditBox(label='Creator',name='userID',value=attribute.creator.username,enabled=False)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='Created',name='created',value=attribute.created,enabled=False)"/>
%endif
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    <%
    enabledStr = '0'
    if enabled:
        enabledStr = '1'
    %>
    

    %if (enabled):
        getHiddenID = getHiddenDivID('editBox','editBox');
        $("#${id} select#definitionID").change(function(event){
            value = $(this).val();
            if (value) {
                loadContent(getHiddenID,'/events/event/attribute/inputHandler/'+$(this).val()+'/${eventID}/${objectID}/${enabledStr}');
            } else {
                $('#${id} #'+getHiddenID).html('<div class="row"><div class="col-xs-3 col-sm-3"><div style="padding: 5px; text-align:right"><label></label></div></div><div class="col-xs-9 col-sm-9"><div id="editBox"><div id="editBoxHidden">Please select something</div></div></div></div>');
            }
        });

        %if not attribute is None:
        	value = $("#${id} input#definitionID:last").val();
            loadContent(getHiddenID,'/events/event/attribute/inputHandler/'+value+'/${eventID}/${objectID}/${enabledStr}/${attribute.identifier}');
        %endif
    %endif
    
});

</script>

</%def>

<%def name="commentForm(eventID,commentObj,enabled)">
% if commentObj is None:
  <input type="hidden" name="eventID" value="${eventID}">
  <input type="hidden" name="commentID" value="">
  <%call expr="labeledInput.labeledTextBox(label='Comment',name='commentText',message='',enabled=enabled)"/>
%else:
  <input type="hidden" name="eventID" value="${eventID}">
  <input type="hidden" name="commentID" value="${commentObj.identifier}">
  %if not commentObj.identifier is None:
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='attID',value=commentObj.identifier,enabled=False)"/>
  %endif
  <%call expr="labeledInput.labeledTextBox(label='Comment',name='commentText',message=commentObj.comment,enabled=enabled)"/>
%endif
</%def>

<%def name="bitValueForm(bitValue, defaultShareValue=0, enabled=True)">
% if bitValue is None:
<% if not enabled:
  shared = 0
else:
  shared = defaultShareValue
%>
<%call expr="labeledInput.labeledYesNoComboBox(label='Shared',name='shared',enabled=enabled,hasEmpty=False,selected=shared)"/>
%else:
<%
if bitValue.isRestInsert and not bitValue.isWebInsert:
    origin = 'REST API'
else:
    if not bitValue.isRestInsert and bitValue.isWebInsert:
        origin = 'Manual'
    else:
        origin = 'Errornous'
if bitValue.isValidated:
    validated = 1
else:
    validated = 0
if bitValue.isSharable:
    shared = 1
else:
    shared = 0

%>
<%call expr="labeledInput.labeledEditBox(label='Origin',name='',value=origin,enabled=False)"/>
<%call expr="labeledInput.labeledYesNoComboBox(label='Validated',name='',enabled=False,hasEmpty=False,selected=validated)"/>
<%call expr="labeledInput.labeledYesNoComboBox(label='Shared',name='shared',enabled=enabled,hasEmpty=False,selected=shared)"/>
%endif
</%def>
