
<%namespace name="labeledInput" file="/dagr/components/labeledInput.html"/>

<%def name="groupForm(group,enabled)">
% if group is None:
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='groupID',value='',enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledComboBox(label='ShareTLP',name='shareTLP',values={'No':0,'Yes':1},enabled=enabled)"/>
% else:
<input type="hidden" name="identifier" value="${group.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='groupID',value=group.identifier,enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value=group.name,enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=group.description,enabled=enabled)"/>
  <%call expr="labeledInput.labeledComboBox(label='ShareTLP',name='shareTLP',values={'No':0,'Yes':1},selected=group.shareTLP,enabled=enabled)"/>
% endif
</%def>

<%def name="objectForm(object,enabled)">
% if object is None:
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='objectID',value='',enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value='', enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message='',enabled=enabled)"/>
% else:
  <input type="hidden" name="identifier" value="${object.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='objectID',value=object.identifier,enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value=object.name,enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=object.description,enabled=enabled)"/>
% endif
</%def>

<%def name="userForm(user,enabled)">
% if user is None:
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='userID',value='',enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Username',name='username',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledPasswordBox(label='Password',name='password',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Email',name='email',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Priviledged',name='priv',enabled=enabled,hasEmpty=True)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Disabled',name='disabled',enabled=enabled,hasEmpty=True)"/>
  <%call expr="labeledInput.labeledEditBox(label='last logged in',name='last_login',value='',enabled=False)"/>
  
% else:
%if not user.identifier is None:
  <input type="hidden" name="identifier" value="${user.identifier}">
%endif
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='userID',value=user.identifier,enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Username',name='username',value=user.username,enabled=enabled)"/>
  <%call expr="labeledInput.labeledPasswordBox(label='Password',name='password',value=user.password,enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Email',name='email',value=user.email,enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Priviledged',name='priv',enabled=enabled,hasEmpty=True,selected=user.privileged)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Disabled',name='disabled',enabled=enabled,hasEmpty=True,selected=user.disabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Last logged in',name='last_login',value=user.last_login,enabled=False)"/>
% endif
</%def>

<%def name="attributeForm(attribute,enabled,cbValues, cbHandlerValues)">

% if attribute is None:
  
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='AttrID',value='',enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value='', enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Regular expression',name='regex',value='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledComboBox(label='ValueTable',name='classIndex',values=cbValues,enabled=enabled,hasEmpty=True)"/>
  <%call expr="labeledInput.labeledComboBox(label='Handler',name='handlerIndex',values=cbHandlerValues,enabled=enabled,hasEmpty=True)"/>

% else:
  <input type="hidden" name="identifier" value="${attribute.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='AttrID',value=attribute.identifier,enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Name',name='name',value=attribute.name,enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=attribute.description,enabled=enabled)"/>
  <%call expr="labeledInput.labeledEditBox(label='Regular expression',name='regex',value=attribute.regex, enabled=enabled)"/>
  <%call expr="labeledInput.labeledComboBox(label='Value type',name='classIndex',values=cbValues,enabled=enabled,selected=attribute.classIndex,hasEmpty=True)"/>
  <%call expr="labeledInput.labeledComboBox(label='Handler',name='handlerIndex',values=cbHandlerValues,enabled=enabled,hasEmpty=True,selected=attribute.handlerIndex)"/>
% endif

</%def>

<%def name="eventForm(event,enabled,cbStatusValues,cbTLPValues,today=None)">
% if event is None:
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='EVentID',value='',enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Title',name='name',value='', enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Published',name='published',enabled=enabled,hasEmpty=True)"/>
  
  <%call expr="labeledInput.labeledComboBox(label='Status',name='status',values=cbStatusValues,enabled=enabled,hasEmpty=True)"/>
  <%call expr="labeledInput.labeledComboBox(label='Analysis',name='analysis',values=cbAnalysisValues,enabled=enabled,hasEmpty=True)"/>
  <%call expr="labeledInput.labeledComboBox(label='Risk',name='risk',values=cbRiskValues,enabled=enabled,hasEmpty=True)"/>
  <%call expr="labeledInput.labeledComboBox(label='TLP',name='tlp_index',values=cbTLPValues,enabled=enabled,hasEmpty=True)"/>
  
  
  <%call expr="labeledInput.labeledDateTimePicker(label='Created',name='created',value=today,enabled=False)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='First seen',name='first_seen',value=today,enabled=True)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='Last seen',name='last_seen',value=today,enabled=True)"/>
  

% else:
  <input type="hidden" name="identifier" value="${event.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='EVentID',value=event.identifier,enabled=False)"/>
  <%call expr="labeledInput.labeledEditBox(label='Title',name='name',value=event.title, enabled=enabled)"/>
  <%call expr="labeledInput.labeledTextBox(label='Description',name='description',message=event.description,enabled=enabled)"/>
  <%call expr="labeledInput.labeledYesNoComboBox(label='Published',name='published',enabled=enabled,hasEmpty=True,selected=event.published)"/>
  
  <%call expr="labeledInput.labeledComboBox(label='Status',name='status',values=cbStatusValues,enabled=enabled,hasEmpty=True,selected=event.status_id)"/>
  <%call expr="labeledInput.labeledComboBox(label='Analysis',name='analysis',values=cbAnalysisValues,enabled=enabled,hasEmpty=True,selected=event.analysis_status_id)"/>
  <%call expr="labeledInput.labeledComboBox(label='Risk',name='risk',values=cbRiskValues,enabled=enabled,hasEmpty=True,selected=event.risk_id)"/>
  <%call expr="labeledInput.labeledComboBox(label='TLP',name='tlp_index',values=cbTLPValues,enabled=enabled,hasEmpty=True,selected=event.tlp_level_id)"/>
  
  <%call expr="labeledInput.labeledDateTimePicker(label='Created',name='created',value=event.created,enabled=False)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='First seen',name='first_seen',value=event.first_seen,enabled=enabled)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='Last seen',name='last_seen',value=event.last_seen,enabled=enabled)"/>
  
  
% endif
</%def>

<%def name="eventObjectForm(eventID,object,enabled,cbDefinitions)">
<input type="hidden" name="eventID" value="${eventID}">
% if object is None:
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='EVentID',value='',enabled=False)"/>
  <%call expr="labeledInput.labeledComboBox(label='Definition',name='definition',values=cbDefinitions,enabled=enabled,hasEmpty=True)"/>

% else:
  <input type="hidden" name="objIdentifier" value="${object.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='objID',value=object.identifier,enabled=False)"/>
  <%call expr="labeledInput.labeledComboBox(label='Definition',name='definition',values=cbDefinitions,enabled=enabled,hasEmpty=True,selected=object.def_object_id)"/>
  <%call expr="labeledInput.labeledEditBox(label='Creator',name='userID',value=object.creator.username,enabled=False)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='Created',name='created',value=object.created,enabled=False)"/>
  
% endif

</%def>

<%def name="eventAttributeForm(id,eventID,objectID,attribute,enabled,cbDefinitions)">
<div id="${id}">
<input type="hidden" name="eventID" value="${eventID}">
<input type="hidden" name="objectID" value="${objectID}">
% if attribute is None:
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='attID',value='',enabled=False)"/>
 
  <%call expr="labeledInput.labeledComboBox(label='Type',name='definition',values=cbDefinitions,enabled=enabled,hasEmpty=True)"/>
  <div id="editBox">
  <%call expr="labeledInput.genericLabeler('')">
  Please select something
  </%call>
  </div>
  
%else:
  <input type="hidden" name="attributeID" value="${attribute.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='attID',value=attribute.identifier,enabled=False)"/>
  
  <%
  enableCB = attributes is None
  %>
  <%call expr="labeledInput.labeledComboBox(label='Type',name='definition',values=cbDefinitions,enabled=enableCB,hasEmpty=True,selected=attribute.definition.identifier)"/>
  <div id="editBox">
  <%call expr="labeledInput.labeledEditBox(label='Value',name='value',value=attribute.value,enabled=enabled)"/>
  </div>
  <%call expr="labeledInput.labeledEditBox(label='Creator',name='userID',value=attribute.creator.username,enabled=False)"/>
  <%call expr="labeledInput.labeledDateTimePicker(label='Created',name='created',value=attribute.creator.created,enabled=False)"/>
%endif
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    %if (enabled):
        $("#${id} select#definitionID").change(function(event){
            value = $(this).val();
            if (value) {
                loadContent('editBox','/events/event/attribute/inputHandler/'+$(this).val()+'/1');
            } else {
                $('#${id} #editBox').html('<div class="row-fluid"><div class="span3"><div style="padding: 5px; text-align:right"><label></label></div></div><div class="span9">Please select something</div></div>');
            }
        });
    %else:
        %if not attribute is None:
        	value = $("#${id} input#definitionID:last").val();
            loadContent('editBox','/events/event/attribute/inputHandler/'+value+'/0/${attribute.identifier}');
        %endif
    %endif
    
});

</script>

</%def>

<%def name="commentForm(eventID,commentObj,enabled)">
% if commentObj is None:
  <input type="hidden" name="eventID" value="${eventID}">
  <input type="hidden" name="commentID" value="">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='attID',value='',enabled=False)"/>
  <%call expr="labeledInput.labeledTextBox(label='Comment',name='commentText',message='',enabled=enabled)"/>
%else:
  <input type="hidden" name="eventID" value="${eventID}">
  <input type="hidden" name="commentID" value="${commentObj.identifier}">
  <%call expr="labeledInput.labeledEditBox(label='Identifier',name='attID',value=commentObj.identifier,enabled=False)"/>
  <%call expr="labeledInput.labeledTextBox(label='Comment',name='commentText',message=commentObj.comment,enabled=enabled)"/>
%endif
</%def>