
<%namespace name="labeled_input" file="/dagr/components/labeledInput.html"/>

<%def name="groupForm(group,enabled)">
% if group is None:
  <%call expr="labeled_input.labeled_editbox(label='Name',name='name',value='',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Download files',name='download',enabled=enabled,has_empty=False)"/>
  <%call expr="labeled_input.labeled_combobox(label='TLP',name='tlpLvl',values=cbTLPValues,enabled=enabled,has_empty=True,selected=3)"/>
  <%call expr="labeled_input.labeled_editbox(label='Email',name='email',value='',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Send mails to users',name='usermails',enabled=enabled,has_empty=False)"/>
% else:
  <input type="hidden" name="identifier" value="${group.identifier}">
  %if not group.identifier is None:
    <%call expr="labeled_input.labeled_editbox(label='Identifier',name='groupID',value=group.identifier,enabled=False)"/>
  %endif
  <%call expr="labeled_input.labeled_editbox(label='Name',name='name',value=group.name,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message=group.description,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Download files',name='download',enabled=enabled,has_empty=False,selected=group.can_download)"/>
  <%call expr="labeled_input.labeled_combobox(label='TLP',name='tlpLvl',values=cbTLPValues,enabled=enabled,has_empty=True,selected=group.tlp_lvl)"/>
  <%call expr="labeled_input.labeled_editbox(label='Email',name='email',enabled=enabled,value=group.email)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Send mails to users',name='usermails',enabled=enabled,has_empty=False,selected=group.usermails)"/>
% endif
</%def>

<%def name="subgroupForm(subgroup,enabled)">
% if subgroup is None:
  <%call expr="labeled_input.labeled_editbox(label='Name',name='name',value='',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message='',enabled=enabled)"/>
% else:
  <input type="hidden" name="identifier" value="${subgroup.identifier}">
  %if not subgroup.identifier is None:
    <%call expr="labeled_input.labeled_editbox(label='Identifier',name='groupID',value=subgroup.identifier,enabled=False)"/>
  %endif
  <%call expr="labeled_input.labeled_editbox(label='Name',name='name',value=subgroup.name,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message=subgroup.description,enabled=enabled)"/> 
% endif
</%def>

<%def name="objectForm(object,enabled)">
% if object is None:
  <%call expr="labeled_input.labeled_editbox(label='Name',name='name',value='', enabled=enabled)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Default Shareable',name='share',enabled=enabled,has_empty=False,selected=0)"/>
% else:
  <input type="hidden" name="identifier" value="${object.identifier}">
  %if not object.identifier is None:
  <%call expr="labeled_input.labeled_editbox(label='Identifier',name='object_id',value=object.identifier,enabled=False)"/>
  %endif
  <%call expr="labeled_input.labeled_editbox(label='Name',name='name',value=object.name,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_editbox(label='Checksum',name='',value=object.chksum,enabled=False)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message=object.description,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Default Shareable',name='share',enabled=enabled,has_empty=False,selected=object.share)"/>
  
% endif
</%def>

<%def name="user_form(user,cb_values, enabled)">
<div class="row">
<div class="col-xs-12 col-sm-12" style="text-align:left">
% if user is None:
  <%call expr="labeled_input.labeled_editbox(label='Username',name='username',value='',enabled=enabled)"/>
  <%call expr="labeled_input.labeledPasswordBox(label='Password',name='password',value='',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_editbox(label='Email',name='email',value='',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Priviledged',name='priv',enabled=enabled,has_empty=False,selected=0)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Disabled',name='disabled',enabled=enabled,has_empty=False,selected=0)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='API Access',name='apikey',enabled=enabled,has_empty=False,selected=0)"/>
  <%call expr="labeled_input.labeled_combobox(label='Main Group',name='maingroup',values=cb_values,enabled=enabled,has_empty=False,selected=1)"/>
  
% else:
%if not user.identifier is None:
  <input type="hidden" name="identifier" value="${user.identifier}">
  <%call expr="labeled_input.labeled_editbox(label='Identifier',name='userID',value=user.identifier,enabled=False)"/>
%endif
  <%call expr="labeled_input.labeled_editbox(label='Username',name='username',value=user.username,enabled=enabled)"/>
  <%call expr="labeled_input.labeledPasswordBox(label='Password',name='password',value=user.password,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_editbox(label='Email',name='email',value=user.email,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Priviledged',name='priv',enabled=enabled,has_empty=True,selected=user.privileged)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Disabled',name='disabled',enabled=enabled,has_empty=True,selected=user.disabled)"/>
  
  %if user.hasAPIKey and not enabled:
    <%call expr="labeled_input.labeled_editbox(label='APIKey',name='',value=user.apiKey,enabled=False)"/>
  %else:
    <%call expr="labeled_input.labeled_yes_no_combobox(label='API Access',name='apikey',enabled=enabled,has_empty=False,selected=user.hasAPIKey)"/>
  %endif
  <%call expr="labeled_input.labeled_combobox(label='Main Group',name='maingroup',values=cb_values,enabled=enabled,has_empty=False, selected=user.group_id)"/>
  <%call expr="labeled_input.labeled_editbox(label='Last logged in',name='last_login',value=user.last_login,enabled=False)"/>
  
% endif
</div>
</div>
</%def>

<%def name="attribute_form(attribute,enabled,cb_values, cb_handler_values)">

% if attribute is None:
  
  <%call expr="labeled_input.labeled_editbox(label='Identifier',name='AttrID',value='',enabled=False)"/>
  <%call expr="labeled_input.labeled_editbox(label='Name',name='name',value='', enabled=enabled)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_editbox(label='Regular expression',name='regex',value='^.+$',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_combobox(label='ValueTable',name='class_index',values=cb_values,enabled=enabled,has_empty=False,selected=1)"/>
  <%call expr="labeled_input.labeled_combobox(label='Handler',name='handler_index',values=cb_handler_values,enabled=enabled,has_empty=False,selected=0)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Relationable',name='relation',enabled=enabled,has_empty=False,selected=0)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Default Shareable',name='share',enabled=enabled,has_empty=False,selected=0)"/>
% else:
%if not attribute.identifier is None:
  <input type="hidden" name="identifier" value="${attribute.identifier}">
  <%call expr="labeled_input.labeled_editbox(label='Identifier',name='AttrID',value=attribute.identifier,enabled=False)"/>
%endif
  <%call expr="labeled_input.labeled_editbox(label='Name',name='name',value=attribute.name,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_editbox(label='Checksum',name='',value=attribute.chksum,enabled=False)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message=attribute.description,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_editbox(label='Regular expression',name='regex',value=attribute.regex, enabled=enabled)"/>
  <%call expr="labeled_input.labeled_combobox(label='Value type',name='class_index',values=cb_values,enabled=enabled,selected=attribute.class_index,has_empty=False)"/>
  <%call expr="labeled_input.labeled_combobox(label='Handler',name='handler_index',values=cb_handler_values,enabled=enabled,has_empty=False,selected=attribute.handler_index)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Relationable',name='relation',enabled=enabled,has_empty=False,selected=attribute.relation)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Default Shareable',name='share',enabled=enabled,has_empty=False,selected=attribute.share)"/>
% endif

</%def>

<%def name="event_form(event, enabled, status_values, tlp_values, analysis_values, risk_values, today=None)">
%if enabled:
% if event is None:
  
  <%call expr="labeled_input.labeled_editbox(label='Title',name='name',value='', enabled=enabled)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message='',enabled=enabled)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Published',name='published',enabled=enabled,has_empty=False)"/>
  
  <%call expr="labeled_input.labeled_combobox(label='Status',name='status',values=status_values,enabled=enabled,has_empty=False)"/>
  <%call expr="labeled_input.labeled_combobox(label='Analysis',name='analysis',values=analysis_values,enabled=enabled,has_empty=False)"/>
  <%call expr="labeled_input.labeled_combobox(label='Risk',name='risk',values=risk_values,enabled=enabled,has_empty=False)"/>
  <%call expr="labeled_input.labeled_combobox(label='TLP',name='tlp_index',values=tlp_values,enabled=enabled,has_empty=False)"/>
  
  
  <%call expr="labeled_input.labeled_datetime_picker(label='Created',name='created',value=today,enabled=False)"/>
  <%call expr="labeled_input.labeled_datetime_picker(label='First seen',name='first_seen',value=today,enabled=True)"/>
  <%call expr="labeled_input.labeled_datetime_picker(label='Last seen',name='last_seen',value=today,enabled=True)"/>
  

% else:
	%if not event.identifier is None:
	  <input type="hidden" name="identifier" value="${event.identifier}">
	  <%call expr="labeled_input.labeled_editbox(label='Identifier',name='event_id',value=event.identifier,enabled=False)"/>
	%endif
  <%call expr="labeled_input.labeled_editbox(label='UUID',name='',value=event.uuid, enabled=False)"/>
  <%call expr="labeled_input.labeled_editbox(label='Title',name='name',value=event.title, enabled=enabled)"/>
  <%call expr="labeled_input.labeled_editbox(label='Creator',name='',value=event.creator.username,enabled=False)"/>
  <%call expr="labeled_input.labeled_editbox(label='Creator Group',name='',value=event.creator_group.name,enabled=False)"/>
  
  
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message=event.description,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Published',name='published',enabled=enabled,has_empty=True,selected=event.published)"/>
  
  <%call expr="labeled_input.labeled_combobox(label='Status',name='status',values=status_values,enabled=enabled,has_empty=True,selected=event.status_id)"/>
  <%call expr="labeled_input.labeled_combobox(label='Analysis',name='analysis',values=analysis_values,enabled=enabled,has_empty=True,selected=event.analysis_status_id)"/>
  <%call expr="labeled_input.labeled_combobox(label='Risk',name='risk',values=risk_values,enabled=enabled,has_empty=True,selected=event.risk_id)"/>
  <%call expr="labeled_input.labeled_combobox(label='TLP',name='tlp_index',values=tlp_values,enabled=enabled,has_empty=True,selected=event.tlp_level_id)"/>
  
  <%call expr="labeled_input.labeled_datetime_picker(label='Created',name='created',value=event.created,enabled=False)"/>
  <%call expr="labeled_input.labeled_datetime_picker(label='First seen',name='first_seen',value=event.first_seen,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_datetime_picker(label='Last seen',name='last_seen',value=event.last_seen,enabled=enabled)"/>
  
  
  
% endif
%else:
<div class="row">
  <div class="col-xs-6 col-md-6">
  <%call expr="labeled_input.labeled_editbox(label='Identifier',name='event_id',value=event.identifier,enabled=False)"/>
  <%call expr="labeled_input.labeled_editbox(label='UUID',name='',value=event.uuid, enabled=False)"/>
  <%call expr="labeled_input.labeled_editbox(label='Title',name='name',value=event.title, enabled=enabled)"/>
  <%call expr="labeled_input.labeled_editbox(label='Creator',name='',value=event.creator.username,enabled=False)"/>
  <%call expr="labeled_input.labeled_editbox(label='Creator Group',name='',value=event.creator_group.name,enabled=False)"/>
  <%call expr="labeled_input.labeled_yes_no_combobox(label='Published',name='published',enabled=enabled,has_empty=True,selected=event.published)"/>
  <%call expr="labeled_input.labeled_textbox(label='Description',name='description',message=event.description,enabled=enabled)"/>
  </div>
  <div class="col-xs-6 col-md-6">
  <%call expr="labeled_input.labeled_combobox(label='Status',name='status',values=status_values,enabled=enabled,has_empty=True,selected=event.status_id)"/>
  <%call expr="labeled_input.labeled_combobox(label='Analysis',name='analysis',values=analysis_values,enabled=enabled,has_empty=True,selected=event.analysis_status_id)"/>
  <%call expr="labeled_input.labeled_combobox(label='Risk',name='risk',values=risk_values,enabled=enabled,has_empty=True,selected=event.risk_id)"/>
  <%call expr="labeled_input.labeled_combobox(label='TLP',name='tlp_index',values=tlp_values,enabled=enabled,has_empty=True,selected=event.tlp_level_id)"/>
  <%call expr="labeled_input.labeled_datetime_picker(label='Created',name='created',value=event.created,enabled=False)"/>
  <%call expr="labeled_input.labeled_datetime_picker(label='Modified',name='created',value=event.modified,enabled=False)"/>
  <%call expr="labeled_input.labeled_datetime_picker(label='First seen',name='first_seen',value=event.first_seen,enabled=enabled)"/>
  <%call expr="labeled_input.labeled_datetime_picker(label='Last seen',name='last_seen',value=event.last_seen,enabled=enabled)"/>
  
  </div>
</div>
% endif
</%def>

<%def name="eventObjectForm(event_id,object,enabled,cb_definitions)">
<input type="hidden" name="event_id" value="${event_id}">
% if object is None:
  
  <%call expr="labeled_input.labeled_combobox(label='Definition',name='definition',values=cb_definitions,enabled=enabled,has_empty=True)"/>

% else:
%if not object.identifier is None:
  <input type="hidden" name="objIdentifier" value="${object.identifier}">
  <%call expr="labeled_input.labeled_editbox(label='Identifier',name='objID',value=object.identifier,enabled=False)"/>
%endif
  <%call expr="labeled_input.labeled_combobox(label='Definition',name='definition',values=cb_definitions,enabled=enabled,has_empty=True,selected=object.def_object_id)"/>
  <%call expr="labeled_input.labeled_editbox(label='Creator',name='userID',value=object.creator.username,enabled=False)"/>
  <%call expr="labeled_input.labeled_datetime_picker(label='Created',name='created',value=object.created,enabled=False)"/>
  
% endif

</%def>

<%def name="event_attribute_form(id,event_id,object_id,attribute,enabled,cb_definitions)">
<div id="${id}">
<input type="hidden" name="event_id" value="${event_id}">
<input type="hidden" name="object_id" value="${object_id}">
% if attribute is None:
 
  <%call expr="labeled_input.labeled_combobox(label='Type',name='definition',values=cb_definitions,enabled=enabled,has_empty=True)"/>
  <div id="editBox_${id}">
  <%call expr="labeled_input.generic_labeler('')">
  Please select something
  </%call>
  </div>
  
%else:
%if not attribute is None:
  <input type="hidden" name="attribute_id" value="${attribute.identifier}">
  <%call expr="labeled_input.labeled_editbox(label='Identifier',name='',value=attribute.identifier,enabled=False)"/>
%endif
  <%
  enableCB = attribute is None
  %>
  <%call expr="labeled_input.labeled_combobox(label='Type',name='definition',values=cb_definitions,enabled=enableCB,has_empty=True,selected=attribute.definition.identifier)"/>
  <div id="editBox_${id}">
  </div>
%endif
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    %if (enabled):
        $("#${id} select#definitionID").change(function(event){
            loadAttributesProcess(this, '${id}','editBox_${id}', '${event_id}', '${object_id}', null, true);
        });

        %if not attribute is None:
            loadAttributesProcess(null, '${id}','editBox_${id}', '${event_id}', '${object_id}', '${attribute.identifier}', true);
        %endif
    %else:
        %if not attribute is None:
            loadAttributesProcess(null, '${id}','editBox_${id}', '${event_id}', null, '${attribute.identifier}', false);
        %endif
    %endif
    
});

</script>

</%def>

<%def name="commentForm(event_id,commentObj,enabled)">
% if commentObj is None:
  <input type="hidden" name="event_id" value="${event_id}">
  <input type="hidden" name="comment_id" value="">
  <%call expr="labeled_input.labeled_textbox(label='Comment',name='comment_text',message='',enabled=enabled)"/>
%else:
  <input type="hidden" name="event_id" value="${event_id}">
  <input type="hidden" name="comment_id" value="${commentObj.identifier}">
  %if not commentObj.identifier is None:
  <%call expr="labeled_input.labeled_editbox(label='Identifier',name='',value=commentObj.identifier,enabled=False)"/>
  %endif
  <%call expr="labeled_input.labeled_textbox(label='Comment',name='comment_text',message=commentObj.comment,enabled=enabled)"/>
%endif
</%def>

<%def name="bit_value_form(bit_value, default_share_value=0, enabled=True)">
% if bit_value is None:
<% if not enabled:
  shared = 0
else:
  shared = default_share_value
%>
<%call expr="labeled_input.labeled_yes_no_combobox(label='Shared',name='shared',enabled=enabled,has_empty=False,selected=shared)"/>
%else:
<%
if bit_value.is_rest_instert:
    origin = 'REST API'
else:
    if bit_value.is_web_insert:
        origin = 'Manual'
    else:
        origin = 'Undefined'
if bit_value.is_validated:
    validated = 1
else:
    validated = 0
if bit_value.is_shareable:
    shared = 1
else:
    shared = 0

%>
<%call expr="labeled_input.labeled_editbox(label='Origin',name='',value=origin,enabled=False)"/>
<%call expr="labeled_input.labeled_yes_no_combobox(label='Validated',name='',enabled=False,has_empty=False,selected=validated)"/>
<%call expr="labeled_input.labeled_yes_no_combobox(label='Shared',name='shared',enabled=enabled,has_empty=False,selected=shared)"/>
%endif
</%def>
