<%namespace name="inputBoxes" file="/components/inputBoxes.mako"/>
<%namespace name="modals" file="/components/modals.mako"/>
<%inherit file="/layout/baselayout.html"/>


<ul class="nav nav-tabs">
    <li><a href="/admin/users">Users</a></li>
    <li><a href="/admin/groups">Groups</a></li>
    <li class="active"><a href="#">Objects</a></li>
    <li><a href="/admin/attributes">Attributes</a></li>
</ul>
<div class="row-fluid">
    <div class="span4">
        <div class="btn-group">
            <a href="#addObjectModal" role="button" class="btn" data-toggle="modal">Add
                new Object</a>

            <form action="/admin/addObject" method="post">
                %if errors and addObject: 
                    ${modals.objectModal(id='addObjectModal',label='Addobject',object=objectDetails,hide=errors)} 
                % else:
                    ${modals.objectModal(id='addObjectModal',label='Addobject',object=objectDetails,hide=False)} 
                % endif
            </form>
        </div>
        <br />
        <!--list of objects -->
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
            style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
            %if not objects is null:
	            % for object in objects:
	            <li><a tabindex="-1" href="/admin/objects/${object.identifier}">${object.name}</a></li> 
	            % endfor
            %endif
        </ul>

    </div>

    <div class="span8">
        <!-- object details -->
        <h3>Object details:</h3>
        ${inputBoxes.objectForm(objectDetails, False)} 
        % if not objectDetails is None:
        <div class="btn-group">
            <a href="#editObjectModal" role="button" class="btn"
                data-toggle="modal">Edit</a>
            <button class="btn"
                onclick="location.href='/admin/RemoveObject/${object.identifier}'">Delete</button>


        </div>
        <form action="/admin/editObject" method="post">
            %if errors and not addObject: 
                ${modals.objectModal(id='editObjectModal',label='Editobject',object=objectDetails,hide=True)} 
            % else:
                ${modals.objectModal(id='editObjectModal',label='Editobject',object=objectDetails,hide=False)} 
            % endif
        </form>
        % else:
            <div class="btn-group">
                <button class="btn">Edit</button>
                <button class="btn">Delete</button>
            </div>
        %endif
    

        
        <h4>Attributes of this object:</h4>
        <form action="/admin/editObjectAttribute" method="post">
            % if not objectDetails is None:
            <input type="hidden" name="groupID"
                value="${objectDetails.identifier}">
            % endif
            <table border="0" cellpadding="5">
                <tr>
                    <td>Not attributes of this object:<BR /> <select name="remainingUsers"
                        size="10" multiple="multiple" tabindex="1"> 
                        % if not remainingAttributes is None:
                            % for attribute in remainingAttributes:
                                <option value="${attribute.identifier}">${attribute.name}</option> 
                            % endfor
                        %endif
                    </select>
                    </td>
                    <td>
                    % if not objectDetails is None:
                        <button name="operation" class="btn" type="submit" value="remove">&lt;</button>
                        <BR />
                        <button name="operation" class="btn" type="submit" value="add">&gt;</button>
                    % else:
                        <div class="btn-group">
                            <button class="btn">&lt;</button><BR/>
                            <button class="btn">&gt;</button>
                        </div>
                    %endif
                    </td>
                    <td>Attributes of this object:<BR /> <select name="groupUsers" size="10"
                        multiple> 
                        % if not objectAttribtues is None:
                            % for attribute in objectAttribtues:
                                <option value="${attribute.identifier}">${attribute.name}</option> 
                            % endfor
                        %endif
                    </select>
                    </td>
                </tr>
            </table>

        </form>

    </div>

</div>
