# -*- coding: utf-8 -*-
<%inherit file="/ce1sus/layout/baselayout.html"/>

<div class="span7 offset3">
	<div class="login-form">
		<h2>Login</h2>
		%if not errorMsg is None:
           <div class="alert alert-block alert-error fade in">
               <button type="button" class="close" data-dismiss="alert">x</button>
               <h4 class="alert-heading">An expected Error occurred!</h4>
               <p>${errorMsg}</p>
           </div>
        %endif
		<form action="/doLogin" method="post">
			<fieldset>
				<div class="clearfix">
					<input type="text" name="username" placeholder="Username">
				</div>
				<div class="clearfix">
					<input type="password" name="password" placeholder="Password">
				</div>
				<button class="btn btn-primary" type="submit">Log in</button>
			</fieldset>
		</form>
	</div>
</div>​​

