# -*- coding: utf-8 -*-
<%inherit file="/ce1sus/layout/baselayout.html"/>
<%namespace name="messagesandtext" file="/dagr/components/messagesAndText.html"/>


<div class="span7 offset3">
	<div class="login-form"">
		<div class="row">
		  <div class="col-sd-4 col-sd-offset-4 col-md-4 col-md-offset-4">
			<h2>Login</h2>
			<%call expr="messagesandtext.error_dialog(error_msg)"/>
			<form action="/dologin" method="post">
				<fieldset>
					<div class="clearfix">
						<input  class="form-control" type="text" name="username" placeholder="Username">
					</div>
					<div class="clearfix">
						<input   class="form-control" type="password" name="password" placeholder="Password">
					</div>
					<button class="btn btn-primary" type="submit">Log in</button>
				</fieldset>
			</form>
		  </div>
		</div>
	</div>
</div>

