# -*- coding: utf-8 -*-

<%def name="menu(id, contentid, loadSelected=True)">

<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<ul id="${id}" class="nav">
					    ${caller.body()}
			</ul>
		</div>
	</div>
</div>

%if loadSelected:
<script type="text/javascript">
$(document).ready(function () { 
	findAndLoadActiveLi('${id}','${contentid}');
});
</script>
%endif
</%def>


<%def name="menuitem(id,url,name,contentid,active=False, reload=True)">
<%
if active:
  activeString=' class="active"'
else:
  activeString =''

if reload:
  reloadStr = 'true'
else:
  reloadStr = 'false'
%>
<li ${activeString} id="${id}LI"><a href="#" src="${url}" onclick="loadToolbarLi(this.id,'${contentid}',${reloadStr})" id="${id}">${name}</a></li>
</%def>
