<%namespace name="baseComponents" file="/components/baseComponents.html"/>
<%namespace name="modals" file="/components/modals.html"/>
<%namespace name="forms" file="/components/forms.html"/>
<%inherit file="/layout/baselayout.html"/>


<ul class="nav nav-tabs">
    <li ><a href="/admin/users">Users</a></li>
    <li class="active"><a href="#">Groups</a></li>
    <li><a href="/admin/objects">Objects</a></li>
    <li><a href="/admin/attributes">Attributes</a></li>
</ul>
<div class="row-fluid">
    <div class="span4">
        <div class="btn-group">
            <a href="#addGroupModal" role="button" class="btn" data-toggle="modal">Add
                new Group</a>
            <form action="/admin/modifyGroup" method="post">
                <input type="hidden" name="action" value="insert">
                <%call expr="modals.groupModal(id='addGroupModal',title='Add Group',group=None)"/> 
            </form>
        </div>
        <br />
        <!--list of groups -->
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
            style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
            %if not groups is None:
              % for group in groups:
                 <li><a tabindex="-1" href="/admin/groups/${group.identifier}">${group.name}</a></li> 
              % endfor
            %endif
        </ul>
    </div>
    <div class="span8">
        %if not errorMsg is None:
           <div class="alert alert-block alert-error fade in">
               <button type="button" class="close" data-dismiss="alert">x</button>
               <h4 class="alert-heading">An expected Error occurred!</h4>
               <p>${errorMsg}</p>
           </div>
        %endif
        <!-- group details -->
        <h3>Group details:</h3>
        <%call expr="forms.groupForm(groupDetails, False)"/>
        <div class="row-fluid">
        <div class="span3" style="text-align:right">
        % if not groupDetails is None:
        <div class="btn-group">
            <a href="#editGroupModal" role="button" class="btn"
                data-toggle="modal">Edit</a>
            <button class="btn btn-danger"
                onclick="if (confirm('Are you sure you want to delete?')) {location.href='/admin/modifyGroup?identifier=${groupDetails.identifier}&action=remove'}" >Delete</button>
        </div>
        <form action="/admin/modifyGroup" method="post">
            %if action=='insert':
              <input type="hidden" name="action" value="insert">
              <%call expr="modals.groupModal(id='editGroupModal',title='Add Group',group=groupDetails,show=errors)"/> 
            %else:
              <input type="hidden" name="action" value="update">
              <%call expr="modals.groupModal(id='editGroupModal',title='Edit Group',group=groupDetails,show=errors)"/>
            %endif
        </form>
        % else:
            <div class="btn-group">
                <button class="btn">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </div>
        %endif
        </div></div>
    
        <h4>Usermanagment of this group:</h4>
        <form action="/admin/editUserGroups" method="post">
            % if not groupDetails is None:
            <input type="hidden" name="groupID"
                value="${groupDetails.identifier}">
            %endif
            <table border="0" cellpadding="5">
                <tr>
                    <td>Users not in this groups:<BR /> <select name="remainingUsers"
                        size="10" multiple="multiple" tabindex="1"> 
                        %if not remainingUsers is None:
                            % for user in remainingUsers:
                                <option value="${user.identifier}">${user.username}</option> 
                            % endfor
                        %endif
                    </select>
                    </td>
                    <td>
                    % if not groupDetails is None:
                        <button name="operation" class="btn" type="submit" value="remove">&lt;</button>
                        <BR />
                        <button name="operation" class="btn" type="submit" value="add">&gt;</button>
                    % else:
                        <div class="btn-group">
                            <button class="btn">&lt;</button><BR/>
                            <button class="btn">&gt;</button>
                        </div>
                    %endif
                    </td>
                    <td>Users in this group:<BR /> <select name="groupUsers" size="10"
                        multiple> 
                        %if not groupUsers is None:
                            % for user in groupUsers:
                                <option value="${user.identifier}">${user.username}</option> 
                            % endfor
                        %endif
                    </select>
                    </td>
                </tr>
            </table>

        </form>
        

    </div>

</div>
