<%namespace name="baseComponents" file="/components/baseComponents.html"/>
<%namespace name="modals" file="/components/modals.html"/>
<%namespace name="forms" file="/components/forms.html"/>
<%inherit file="/layout/baselayout.html"/>


<ul class="nav nav-tabs">
	<li class="active"><a href="#">Users</a></li>
	<li><a href="/admin/groups">Groups</a></li>
	<li><a href="/admin/objects">Objects</a></li>
	<li><a href="/admin/attributes">Attributes</a></li>
</ul>
<div class="row-fluid">
	<div class="span4">
		<div class="btn-group">
			<a href="#addUserModal" role="button" class="btn" data-toggle="modal">Add
				new User</a>
			<a href="#LDAPUsers" role="button" class="btn" data-toggle="modal">Add
                LDAP User</a>
                

                
			<form action="/admin/modifyUser" method="post">
			    <input type="hidden" name="action" value="insert">
			    <%call expr="modals.userModal(id='addUserModal',title='Add User',user=None,cbValues=cbValues)"/> 
			</form>
		</div>
		<br />
		<!--list of users -->
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
			style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
		    %if not users is None:
			  % for user in users:
			     <li><a tabindex="-1" href="/admin/users/${user.identifier}">${user.username}</a></li> 
			  % endfor
			%endif
		</ul>
	</div>
	<div class="span8">
	       %if not errorMsg is None:
           <div class="alert alert-block alert-error fade in">
               <button type="button" class="close" data-dismiss="alert">x</button>
               <h4 class="alert-heading">An expected Error occurred!</h4>
               <p>${errorMsg}</p>
           </div>
           %endif
		<!-- user details -->
		<h3>User details:</h3>

			  <%call expr="forms.userForm(userDetails, False,cbValues)"/>
        <div class="row-fluid">
        <div class="span3" style="text-align:right">
		% if not userDetails is None:
		<div class="btn-group">
		    <a href="#editUserModal" role="button" class="btn"
				data-toggle="modal">Edit</a>
			<button class="btn btn-danger"
				onclick="if (confirm('Are you sure you want to delete?')) {location.href='/admin/modifyUser?identifier=${userDetails.identifier}&action=remove'}">Delete</button>
		</div>
		
		<form action="/admin/modifyUser" method="post">
			%if action=='insert':
			  <input type="hidden" name="action" value="insert">
			  <%call expr="modals.userModal(id='editUserModal',title='Add User',user=userDetails,show=errors,cbValues=cbValues)"/> 
			%else:
			  <input type="hidden" name="action" value="update">
	          <%call expr="modals.userModal(id='editUserModal',title='Edit User',user=userDetails,show=errors,cbValues=cbValues)"/>
			%endif
		</form>
		% else:
			<div class="btn-group">
				<button class="btn">Edit</button>
				<button class="btn btn-danger">Delete</button>
			</div>
		%endif
		</div>
	   </div>
        <h4>Groupmanagment of this user:</h4>
        <form action="/admin/editGroupsUser" method="post">
            % if not userDetails is None:
            <input type="hidden" name="userID"
                value="${userDetails.identifier}">
            %endif
            <table border="0" cellpadding="5">
                <tr>
                    <td>User is not part of these groups:<BR /> <select name="remainingGroups"
                        size="10" multiple="multiple" tabindex="1"> 
                        %if not remainingGroups is None:
	                        % for group in remainingGroups:
	                            <option value="${group.identifier}">${group.name}</option> 
	                        % endfor
	                    %endif
                    </select>
                    </td>
                    <td>
                    % if not userDetails is None:
                        <button name="operation" class="btn" type="submit" value="remove">&lt;</button>
                        <BR />
                        <button name="operation" class="btn" type="submit" value="add">&gt;</button>
                    % else:
                        <div class="btn-group">
                            <button class="btn">&lt;</button><BR/>
                            <button class="btn">&gt;</button>
                        </div>
                    %endif
                    </td>
                    <td>User is part of these groups:<BR /> <select name="userGroups" size="10"
                        multiple> 
                        %if not userGroups is None:
	                        % for group in userGroups:
	                            <option value="${group.identifier}">${group.name}</option> 
	                        % endfor
                        %endif
                    </select>
                    </td>
                </tr>
            </table>

        </form>
        

	</div>

</div>

<form action="/admin/modifyUser" method="post">
 <%call expr="modals.genericModal(id='LDAPUsers',title='Select an LDAP user to be added',showButtons=True,refreshUrl='/admin/users',big=True)">
  <input type="hidden" name="action" value="insertLDAP">
  <%call expr="baseComponents.pagination('LDAPUserTable', LDAPpaginator)"/> 
</%call>
</form>
