<div class="form-group">
  <label class="col-xs-3"><b>Value:</b></label>
  <div class="col-xs-9">
      <div
        ng-class="{ 'has-error' :form.value.$invalid && !form.value.$pristine }">
        <input class="form-control" name="value" ng-model="attribute.value"
          type="text" ng-minlength=2 ng-maxlength=255 required  
          ng-pattern="patternexpression">
        <p
          ng-show="form.value.$invalid && !form.value.$pristine"
          class="help-block">Value is required.</p>
        <p ng-show="form.value.$error.minlength"
          class="help-block">Value is too short.</p>
        <p ng-show="form.value.$error.maxlength"
          class="help-block">Value is too long.</p>
        <p ng-show="form.value.$error.pattern"
          class="help-block">Value does not match pattern "{{definition.regex}}"</p>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <b>IOC</b>
  </div>
  <div class="col-md-9">
    <input class="form-control" type="checkbox" name="ioc" value="ioc"  ng-model="attribute.ioc" />
  </div>
</div>
<object-properties-form object="attribute" type="type" permissions="permissions"></object-properties-form>