<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
    <title>${title}</title>
    <body>
        <font colspan="2" size="2" color="#000080" style="background: #c0c0c0" face="Fixedsys">&nbsp;${error}</font>
        A fatal excepton 0E has occured at 0028:BFF112. The current
        <br/>application will be terminated.
        <br/>
        <br/>
        * Press the back button to terminate the current application.<br/>
        * Press CTRL+ALT+DELETE again to restart your computer. You will <br/>
        &nbsp;&nbsp;lose any unsaved information in all applications.<br/>
        <br/>
        <center>
            Click here to continue
        </center>
</HTML>