# -*- coding: utf-8 -*-

<%namespace name="layout" file="/dagr/layout/base.html"/>

<script type="text/javascript" src="/js/ce1sus.js"></script>
<link href="/css/ce1sus.css" rel="stylesheet" media="screen" type="text/css" />

<%call expr="layout.base()">
    <script type="text/javascript" src="/js/ce1sus.js" charset="UTF-8"></script>
	<div >
		<div >
			<div class="col-xs-12 col-sm-12">
				<%include file="/ce1sus/layout/header.html"/>
				<%include file="/ce1sus/layout/toolbar.html"/>
			</div>
			<div class="row" style="margin: 0 auto;padding-left:20px;padding-right:20px">
				<div class="col-xs-12 col-sm-12">
				    <div id="mainContent" style="height:">${next.body()}</div>
				</div>
			</div>
			<div class="col-xs-10 col-sm-10">
			<%include file="/ce1sus/layout/footer.html"/>
			</div>
		</div>
	</div>
</%call>
