# -*- coding: utf-8 -*-

<%namespace name="layout" file="/dagr/layout/base.html"/>

<%call expr="layout.base(js_files=['/js/ce1sus.js'], css_files=['/css/ce1sus.css'])">
	<div >
		<div >
			<div class="col-xs-12 col-sm-12">
				<%include file="/ce1sus/layout/header.html"/>
				<%include file="/ce1sus/layout/toolbar.html"/>
			</div>
			<div class="row" style="margin: 0 auto; margin-top:70px;">
				<div class="col-xs-12 col-sm-12">
				    <div id="mainContent" style="height:">${next.body()}</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12">
			<%include file="/ce1sus/layout/footer.html"/>
			</div>
		</div>
	</div>
</%call>
