# -*- coding: utf-8 -*-

<%namespace name="toolbars" file="/dagr/components/toolbars.html"/>
<!-- NavBar -->
<%call expr="toolbars.menu(id='menuBar',contentid='mainContent',loadSelected=is_authenticated)"> 
    %if is_authenticated:
    <%call expr="toolbars.menuitem(id='eventsMenu',url='/events',name='Events',contentid='mainContent' ,active=True)"/> 
    <%call expr="toolbars.menuitem(id='adminMenu',url='/admin', name='Administration',contentid='mainContent')"/> 
    <%call expr="toolbars.menuitem(id='logout',url='/logout', name='Logout',contentid='mainContent')"/> 
    %else:
    <%call expr="toolbars.menuitem(id='login',url='/login',name='Login' ,active=True,contentid='mainContent')"/> 
    %endif
</%call>

<!-- NavBar -->