# -*- coding: utf-8 -*-

<%namespace name="input" file="/components/input.html"/>
<%namespace name="modals" file="/components/modals.html"/>
<%namespace name="forms" file="/components/forms.html"/>
<%namespace name="framework" module="framework.web.helpers.string"/>
<%namespace name="pagination" file="/components/pagination.html"/>
<%namespace name="tabulator" file="/components/tabs.html"/>
<%


for ticket in ticketPaginator.list:
  url = '<a href="{0}" target="_blank">{1}</a>'.format(rtUrl+ ticket.ticket,ticket.ticket)
  setattr(ticket, 'idLink', url)

found = False
for x in range(len(ticketPaginator.lables)):
  for key,value in ticketPaginator.lables[x].iteritems():
    if key == 'ticket':
      hash = dict()
      hash['idLink'] = value
      ticketPaginator.lables[x] =hash
      found = True
      break
  if found:
    break
  

    

%>
<div id="deleteAnswer" style="display: none;">
</div>
<script type="text/javascript">
function deleteEvent(eventID){
    $("#deleteAnswer").load("/events/event/modifyEvent?identifier="+eventID+"&action=remove", "", 
               function (responseText, textStatus, XMLHttpRequest) {
                  if(textStatus == 'error') {
                      alert('Delete Failed:'+responseText);
                  }
                  if (responseText.match(/^--OK--/gi)) {
                	  //close tab!
                	  closeTab('eventsTab', 'eventsTab'+eventID);
                      //loadContent('eventsTabTabContent','/events/recent');
                  } else {
                      alert('Delete Failed:'+responseText);
                  }
            });
}

function deleteComment(eventID,commentID){
    $("#deleteAnswer").load("/events/event/comment/modifyComment?commentID="+commentID+"&eventID="+eventID+"&action=remove", "", 
               function (responseText, textStatus, XMLHttpRequest) {
                  if(textStatus == 'error') {
                      alert('Delete Failed:'+responseText);
                  }
                  if (responseText.match(/^--OK--/gi)) {
                      //close tab!
                      loadContent('eventsTabTabContent','/events/event/view/'+eventID);
                  } else {
                      alert('Delete Failed:'+responseText);
                  }
            });
}

function editComment(eventID,commentID) {
	//load content
    loadContent('editCommentModalbody','/events/event/comment/viewComment/'+eventID+'/'+commentID)
}
</script>

<div class="row-fluid">
  <div class="span4">
    <legend>Details</legend>
    ${forms.eventForm(event=event,enabled=False,cbStatusValues=cbStatusValues,cbTLPValues=cbTLPValues)}
    <div class="row-fluid">
	    <div class="span3" style="text-align:right">
		    <div class="btn-group">
		       <a href="#editEventModal" role="button" class="btn" data-toggle="modal">Edit</a>
		       <button class="btn btn-danger" onclick="if (confirm('Are you sure you want to delete?')) {deleteEvent(${event.identifier})}">Delete</button>
		    </div>
	    </div>
    </div>
    
  </div>
  <div class="span8">
    <legend>Related objects</legend>
<%call expr="pagination.pagination('objectsTable',objectPaginator,hasSearch=False)"/> 


    <legend>Related Tickets</legend>
<%call expr="pagination.pagination('ticketsTable',ticketPaginator,hasSearch=False)"/> 

    <legend>Related Events</legend>
<%call expr="pagination.pagination('eventsTable',eventPaginator,hasSearch=False)"/> 
    <legend>Accessible for groups</legend>
    %if not event.groups is None:
      %for group in event.groups:
      <div class="btn btn-mini disabled" data-toggle="tooltip" title="${group.description}">${group.name}</div>
      %endfor
    %else:
    None
    %endif 
  </div>
</div>

<legend>Comments</legend>
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>#</th>
      <th>Comment</th>
      <th>Date</th>
      <th>User</th>
      <th width="150px">Options</th>
    </tr>
  </thead>
  <tbody>
    %if comments is None:
    <tr>
      <td></td>
      <td></td>
      <td><div style="text-align:center">No data available in table</div></td>
      <td></td>
    </tr>
    %else:
      %for comment in comments:
	    <tr>
	      <td>${comment.identifier}</td>
	      <td>${framework.plaintext2html(text=comment.comment)}</td>
	      <td>${comment.created}</td>
	      <td>${comment.creator.username}</td>
	      <td>
		      <div class="btn-group">
		          <a href="#editCommentModal" role="button" data-toggle="modal" onclick="editComment(${event.identifier},${comment.identifier})"><i class="icon-pencil" title="Edit"/></i></a>  
		          <a href="#" onclick="if (confirm('Are you sure you want to delete?')) {deleteComment(${event.identifier},${comment.identifier})}"><i class="icon-remove" title="Delete"></i></a>
		      </div>
	      </td>
	    </tr>
      %endfor
    %endif
  </tbody>
</table>




<div class="btn-group">
<a href="#addCommentModal" role="button" class="btn" data-toggle="modal" onclick="">Add
                new Comment</a>
</div>

<%call expr="forms.genericModalForm(modalID='editEventModal',url='/events/event/modifyEvent',refreshUrl='/events/event/view/{0}'.format(event.identifier),refreshContainer='eventTabs{0}TabContent'.format(event.identifier))">
    <input type="hidden" name="action" value="update">
    <%call expr="modals.userModal(id='editEventModal',title='Edit Event',contentUrl='/events/event/editEvent/{0}'.format(event.identifier))"/>
</%call>

<%call expr="forms.genericModalForm(modalID='addCommentModal',url='/events/event/comment/modifyComment',refreshUrl='/events/event/view/{0}'.format(event.identifier),refreshContainer='eventTabs{0}TabContent'.format(event.identifier))">
    <input type="hidden" name="action" value="insert">
    <%call expr="modals.commentModal(id='addCommentModal',title='Add a comment',contentUrl='/events/event/comment/addComment/{0}'.format(event.identifier))"/>
</%call>

<%call expr="forms.genericModalForm(modalID='editCommentModal',url='/events/event/comment/modifyComment',refreshUrl='/events/event/view/{0}'.format(event.identifier),refreshContainer='eventTabs{0}TabContent'.format(event.identifier))">
    <input type="hidden" name="action" value="update">
    <%call expr="modals.commentModal(id='editCommentModal',title='Add a comment',contentUrl=None)"/>
</%call>



