# -*- coding: utf-8 -*-


<%namespace name="tabulator" file="/dagr/components/tabs.html"/>

<%call expr="tabulator.tabulator(id='adminTabs')">
    <%call expr="tabulator.tab(id='adminValidation',url='/admin/validation', name='Validation',active=True)"/> 
    <%call expr="tabulator.tab(id='adminObjects',url='/admin/objects', name='Objects',reload=True)"/> 
    <%call expr="tabulator.tab(id='adminAttribute',url='/admin/attributes', name='Attributes',reload=True)"/> 
    <%call expr="tabulator.tab(id='adminUsers',url='/admin/users',name='Users' ,reload=True)"/> 
    <%call expr="tabulator.tab(id='adminGroups',url='/admin/groups', name='Groups',reload=True)"/> 
    <%call expr="tabulator.tab(id='adminSubGroups',url='/admin/subgroups', name='SubGroups',reload=True)"/> 
    <%call expr="tabulator.tab(id='adminMails',url='/admin/mails', name='Mail Templates',reload=True)"/>
</%call>