# -*- coding: utf-8 -*-

<%namespace name="baseForms" file="/dagr/components/forms.html"/> 
<%namespace name="forms" file="/ce1sus/components/forms.html"/> 

<h2>Add an Event</h2>

<%call expr="baseForms.genericForm(id='editGroupsForm', url='/events/event/modifyEvent',refreshUrl='/events/recent',refreshContainer='eventsTabTabContent')">
    <input type="hidden" name="action" value="insert">
    
	${forms.eventForm(event=event,enabled=True,cbStatusValues=cbStatusValues,cbTLPValues=cbTLPValues,today=today)}	
	<div class="row">
	    <div class="col-xs-3 col-sm-3" style="text-align:right">
			<div class="btn-group">
				<button class="btn btn-primary" type="submit">Create</button>
				<button class="btn btn-default" onclick="loadContent('eventsTabTabContent','/events/addEvent')">Cancel</button>
			</div>
		</div>
	</div>
</%call>