# -*- coding: utf-8 -*-

<%namespace name="sidenav" file="/dagr/components/sidenav.html"/>

<%call expr="sidenav.list(id='eventsTab')"> 
    <% first=True %>
    %for main_tab in main_tabs:
        <%
        reload = True
        reloadButton = False
        if main_tab.options == 'reload':
            reload = False
            reloadButton = True
        %>
        <%call expr="sidenav.entry(id=main_tab.identifier, url=main_tab.url, name=main_tab.title , reload=reload, reloadBotton=reloadButton, active=first )"/>
        <%
        if first:
          first=False
        %> 
    %endfor 
</%call>
