# -*- coding: utf-8 -*-

<%namespace name="sidenav" file="/dagr/components/sidenav.html"/>

<%call expr="sidenav.list(id='eventsTab')"> 
    <%call expr="sidenav.entry(id='recentEvents', url='/events/recent',          name='Recent Events' , reload=False, reloadBotton=True, active=True )"/> 
    <%call expr="sidenav.entry(id='searchEvent',  url='/events/search',          name='Search Attributes',  reload=False, reloadBotton=False)"/> 
    <%call expr="sidenav.entry(id='addEvent',     url='/events/event/add_event', name='Add Event',      reload=False, reloadBotton=False)"/> 
</%call>
