<%namespace name="ce1sus" module="ce1sus.web.helpers.string"/>


<%def name="labeledEditBox(label, name, value, enabled=True, validationMsg=None)">
<!-- BEGIN labeledEditBox -->
<%call expr="genericLabeler(label)">
  <%call expr="editBox(name, value, enabled, validationMsg)"/>
</%call>
<!-- END labeledEditBox -->
</%def>

<%def name="labeledPasswordBox(label, name, value, enabled=True, validationMsg=None)">
<!-- BEGIN labeledPasswordBox -->
<%call expr="genericLabeler(label)">
  <%call expr="passowdBox(name, value, enabled, validationMsg)"/>
</%call>
<!-- END labeledPasswordBox -->
</%def>



<%def name="labeledTextBox(label, name, message, enabled=True, validationMsg=None)">
<!-- BEGIN labeledTextBox -->
<%call expr="genericLabeler(label)">
  <%call expr="textBox(name, message, 40, 5, enabled, validationMsg)"/>
</%call>
<!-- END labeledTextBox -->
</%def>

<%def name="labeledComboBox(label, name, values, enabled=True, validationMsg=None, selected=None, hasEmpty=False)">
<!-- BEGIN labeledComboBox -->
<%call expr="genericLabeler(label)">
  <%call expr="comboBox(name, values, enabled, selected, validationMsg, hasEmpty)"/>
</%call>
<!-- END labeledComboBox -->
</%def>

<%def name="genericLabeler(label)">
<!-- BEGIN labeledComboBox -->
<div class="row-fluid">
  <div class="span3">
    <div style="padding: 5px; text-align:right">
      <label> ${label}:</label>
    </div>
  </div>
  <div class="span9">
    ${caller.body()}
  </div>
</div>
<!-- END labeledComboBox -->
</%def>

<%def name="textBox(name, message, cols=40, rows=5 ,enabled=True, validationMsg=None)">
<!-- BEGIN textBox --><%
if message is None:
  message = ''
  
if (enabled):
  enabledStr = ''
else:
  enabledStr =  ' disabled ' 

if hasattr(message,'error'):
  validationMsg = getattr(message,'error')
%>
%if enabled or message is None:
    <textarea name="${name}" cols="${cols}" rows="${rows}"  ${enabledStr} >${message}</textarea>
%else:
    <div style="padding: 5px;overflow:auto; height:${rows*25}px">
      ${ce1sus.plaintext2html(text=message)}
    </div>
%endif

% if (not (validationMsg is None)):
  <%call expr="error(validationMsg)"/>
% endif
<!-- END textBox -->
</%def>

<%def name="passowdBox(name, value, enabled=True, validationMsg=None)">
<!-- BEGIN passowdBox --><%
if (enabled):
  enabledStr = ''
else:
  enabledStr =  ' disabled ' 

if hasattr(value,'error'):
  validationMsg = getattr(value,'error')

if value is None:
  value = ''
%>
%if enabled or value is None:
    <input name="${name}" type="password" value="${value}" ${enabledStr}/>
%else:
    <div style="padding: 5px;">
      %if value == 'EXTERNALAUTH':
      ${value}
      %else:
      7h15P455\/\/0rd15S3cr3t
      %endif
    </div>
%endif
% if (not (validationMsg is None)) and enabled:
  <%call expr="error(validationMsg)"/>
% endif
<!-- END passowdBox -->
</%def>


<%def name="editBox(name, value, enabled=True, validationMsg=None)">
<!-- BEGIN editBox --><%
if (enabled):
  enabledStr = ''
else:
  enabledStr =  ' disabled ' 

if hasattr(value,'error'):
  validationMsg = getattr(value,'error')

if value is None:
  value = ''
%>

%if enabled or value is None:
    <input name="${name}" type="text" value="${value}" ${enabledStr}/>
%else:
    <div style="padding: 5px;">
      ${value}
    </div>
%endif
% if (not (validationMsg is None)) and enabled:
  <%call expr="error(validationMsg)"/>
% endif



<!-- END editBox -->
</%def>


<%def name="comboBox(name, values, enabled=True, selected=None, validationMsg=None, hasEmpty=False)">
<!-- BEGIN comboBox --><%
if (enabled):
  enabledStr = ''
else:
  enabledStr =  ' disabled ' 

if not selected is None and hasattr(selected,'error'):
  validationMsg = getattr(selected,'error')

 %>
%if enabled or selected is None:
 <select name="${name}" ${enabledStr}>
  %if not values is None:
    %if hasEmpty:
        <option value="" selected></option>
    %endif
    %if not values is None:
	    %for key, value in values.iteritems():
	        %if not selected is None and value == selected:
	          <option value="${value}" selected>${key}</option>
	        %else:
	          <option value="${value}">${key}</option>
	        %endif
	    %endfor
    %endif
  %endif 
</select> 
%else:
    <div style="padding: 5px">
	    %for key, value in values.iteritems():
	        %if not selected is None and value == selected:
	          ${key}
	        %endif
	    %endfor
    </div>
%endif
% if (not (validationMsg is None)) and enabled:
  <%call expr="error(validationMsg)"/>
% endif
<!-- END comboBox -->
</%def>


<%def name="error(message)">
<!-- BEGIN ErrorMsg -->
<div class="alert alert-error">${message}</div>
<!-- END ErrorMsgs -->
</%def>

<%def name="pagination(identifier, paginator,hasSearch=True)">
<!-- BEGIN pagination -->
<div>
  <table class="table table-striped table-bordered table-hover table-condensed" id="${identifier}">
  <thead>
    <tr>
      % for column in paginator.lables:
        % for value in column.itervalues():
            <th caria-controls="${identifier}" tabindex="0" role="columnheader" class="sorting">${value}</th>
        %endfor
      %endfor
      %if paginator.showOptions:
        <th caria-controls="${identifier}" tabindex="0" role="columnheader" class="sorting">Options</th>
      %endif
    </tr>
  </thead>
  <tbody>
    
       % for item in paginator.list:
       <tr>
         % for column in paginator.lables:
           % for key in column.iterkeys():
<%


if hasattr(item,key):
  value = getattr(item,key)
  if hasattr(value,'color'):
    style = 'style="background-color: {hex}"'.format(hex=getattr(value,'color'))
    value = getattr(value,'text')
  else:
    style = ''
else:
  
  if '.' in key:
    keys = key.split('.')
   
    if hasattr(item,keys[0]):
      subItem = getattr(item,keys[0])
      if hasattr(subItem,keys[1]):
        value = getattr(subItem,keys[1])

  else:
    value ='NotSet'
  
  style = ''



if hasattr(item,'identifier'):
  primaryKey = getattr(item,'identifier')
else:
  primaryKey = 0
%>                <td ${style}>${value}</td>
           %endfor

         %endfor
         %if paginator.showOptions:
           <td >
              %if paginator.showView:
                <a href="${paginator.baseUrl}Paginator/view/${primaryKey}"><i class="icon-eye-open" title="View"></i></a>
              %endif
              %if paginator.showEdit:
                <a href="${paginator.baseUrl}Paginator/edit/${primaryKey}"><i class="icon-pencil" title="Edit"/></i></a>
              %endif
              %if paginator.showDelete:
                <a href="${paginator.baseUrl}Paginator/remove/${primaryKey}" onclick="return confirm('Are you sure you want to delete?')"><i class="icon-remove" title="Delete"/></i></a>
              %endif
           </td>
         %endif
         </tr>
       %endfor

  </tbody>
  </table>
  
</div>
<script>
jQuery.fn.dataTableExt.oSort['string-case-asc']  = function(x,y) {
    return ((x < y) ? -1 : ((x > y) ?  1 : 0));
};
 
jQuery.fn.dataTableExt.oSort['string-case-desc'] = function(x,y) {
    return ((x < y) ?  1 : ((x > y) ? -1 : 0));
};

$(document).ready(function() {
    $('#${identifier}').dataTable( {
      "aaSorting": [  [0,'asc'] ],
      %if not hasSearch:
    	"sDom": '<"H">t<"F"ip>',
      %endif;
    	"iDisplayLength": ${paginator.itemsPerPage},
      "aoColumns": [
      % for column in paginator.lables:
                    { "sType": 'string-case' },
      %endfor
      %if paginator.showOptions:
          null
      %endif
        ]
     });
} );
</script>
<br/>
<!-- END pagination -->
</%def>

<%def name="labeledDateTimePicker(label, name, value, enabled=True)">
<!-- BEGIN labeledDateTimePicker -->
<%call expr="genericLabeler(label)">
  <%call expr="dateTimePicker(name, value, enabled)"/>
</%call>
<!-- END labeledDateTimePicker -->
</%def>


<%def name="dateTimePicker(name, value, enabled=True)">
<!-- BEGIN dateTimePicker --><%
    dateTime = '' 
    if value:
      dateTime = value.strftime("%d/%m/%Y - %H:%M")
    nameTag = ''
    if enabled:
      nameTag='name="{0}"'.format(name)
%>


%if enabled or dateTime is None:
<div class="input-append date form_datetime" data-date="21/02/2013T15:25:00Z">
	<input size="16" type="text" value="${dateTime}" readonly style="width:152px" ${nameTag}>
	%if enabled:
	<span class="add-on "><i class="icon-remove" ></i></span>
	<span class="add-on"><i class="icon-th"></i></span>
	%endif
</div>
%else:
<div style="padding: 5px">
    ${dateTime}
</div>
%endif


%if enabled:
<script type="text/javascript">
    $(".form_datetime").datetimepicker({
    	 format: "dd/mm/yyyy - hh:ii",
    	 autoclose: true,
    	 todayBtn: true,
    	 minuteStep: 10,
    	 % if dateTime:
    		  startDate: "${dateTime}",
        %endif
    	});
</script> 
%endif
<!-- END dateTimePicker -->
</%def>


