# -*- coding: utf-8 -*-

<%namespace name="forms" file="/components/forms.html"/>

<%def name="genericModal(id, title, contentUrl, big=False)">
<%
if big:
  style='style="width: 80%;margin-left:-40%;"'
else:
  style=''
%><!-- BEGIN GenericModal -->
<div id="${id}" class="modal hide fade" ${style}>
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3 id="${id}Label">${title}</h3>
  </div>
  <div id="${id}body" class="modal-body">
    <img src="/img/ajax-loader.gif" alt="loading"/> 
  </div>
  <div id="${id}Footer" class="modal-footer">
    ${caller.body()}
    <button class="btn" data-dismiss="modal">Close</button>
   </div>
</div>
<script type="text/javascript">

%if not contentUrl is None:
	$("#${id}").on("shown", function() { // wire up modal when shown
		$("#${id}body").html('<img src="/img/ajax-loader.gif" alt="loading"/> ');
		loadContent('${id}body','${contentUrl}')
	});
%endif

$("#${id}").on("hide", function() { // wire up modal when shown
    $("#${id}body").empty();
});
</script>


% if show:
  <script>$('#${id}').modal('show');</script>
% endif


<!-- END GenericModal -->
</%def>


<%def name="userModal(id,title,contentUrl,enabled=True)">
	<%call expr="genericModal(id=id,title=title,contentUrl=contentUrl)">
	  %if enabled:
	   <input class="btn btn-primary" type="submit" value="Save changes"/>
	  %endif
	</%call>
</%def>


<%def name="groupModal(id,title,contentUrl,enabled=True)">
    <%call expr="genericModal(id=id,title=title,contentUrl=contentUrl)">
      %if enabled:
       <input class="btn btn-primary" type="submit" value="Save changes"/>
      %endif
    </%call>
</%def>

<%def name="def_objectModal(id,title,object,showButtons=True,enabled=True, show=False)">

  <!-- BEGIN objectModal -->
  ${forms.objectForm(object, enabled)}
  <!-- END objectModal -->

</%def>

<%def name="def_attributeModal(id,title,attribute,cbValues,showButtons=True,enabled=True, show=False)">

  <!-- BEGIN attributeModal -->
  ${forms.attributeForm(attribute, enabled,cbValues)}
  <!-- END attributeModal -->
</%def>

<%def name="eventModal(id,title,event,cbPublishedValues,cbStatusValues,cbTLPValues,showButtons=True,enabled=True, show=False)">

  <!-- BEGIN eventModal -->
  ${forms.eventForm(event=event,enabled=True,cbPublishedValues=cbPublishedValues,cbStatusValues=cbStatusValues,cbTLPValues=cbTLPValues)}
  <!-- END eventModal -->

</%def>

<%def name="objectModal(id,title,contentUrl,enabled=True)">
    <%call expr="genericModal(id=id,title=title,contentUrl=contentUrl)">
      %if enabled:
       <input class="btn btn-primary" type="submit" value="Save changes"/>
      %endif
    </%call>
</%def>

<%def name="objectAttributeModal(id,title,eventID,objectID,attribute,cbDefinitions,showButtons=True,enabled=True, show=False)">
%if attribute is None:
    
      <!-- BEGIN objectModal -->
	  ${forms.eventAttributeForm(eventID,objectID,attribute,enabled,cbDefinitions)}
	  <!-- END objectModal -->
	
%else:
    
      <!-- BEGIN objectModal -->
	  ${forms.eventAttributeForm(eventID,objectID,attribute,enabled,cbDefinitions)}
	  <!-- END objectModal -->

%endif

%if enabled:
  <script type="text/javascript">
    //Add Listener to the combobox in the beginning
    $(document).ready(function () { 
    	
    	
        combobox = $('#${id} #attributeFormDefinition #definitionID');
        setCBChange(combobox,'${id}');
     });
    //change the value input to a file input
    
    
  </script>
%endif

</%def>

<%def name="commentModal(id,title,contentUrl,enabled=True)">
    <%call expr="genericModal(id=id,title=title,contentUrl=contentUrl)">
      %if enabled:
       <input class="btn btn-primary" type="submit" value="Save changes"/>
      %endif
    </%call>
</%def>

