# -*- coding: utf-8 -*-


<%def name="tabulator(id)">

<ul class="nav nav-tabs" id="${id}">
    ${caller.body()}
</ul>
<div id="${id}TabContent">
<img src="/img/ajax-loader.gif" alt="loading"/> 
</div>

<script>
$(document).ready(function () { 
	$('#${id}').find("li").each(function() {
		var className = $(this).attr('class');
		if (className == 'active') {
			$(this).find("a").each(function() {
				var script = $(this).attr("onclick");
				//extract url from function
				var url = script.match(/getPaging\('(.*)',this\.id\)/);
				$("#${id}TabContent").load(url[1], "", 
					    function (responseText, textStatus, XMLHttpRequest) {
					        if(textStatus == 'error') {
					              $("#${id}TabContent").html('<div class="alert alert-error">There was an error making the AJAX request</div>'+responseText);
					        }
					    });
			})
		}
	})
});
</script>
</%def>


<%def name="tab(id,url,name,active=False)">
<%
if active:
  activeString=' class="active"'
else:
  activeString =''
%>
<li ${activeString} id="${id}LI"><a href="#" onclick="getPaging('${url}',this.id)" id="${id}">${name}</a></li>
</%def>