<%def name="base(js_files=list(), css_files=list())">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--MainPage-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ce1sus 1ibrary</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
<link href="/css/jquery.dataTables.css" rel="stylesheet" media="screen" type="text/css" />   
<link href="/css/DT_bootstrap.css" rel="stylesheet" media="screen" type="text/css" />   
<link href="/css/components.css" rel="stylesheet" media="screen" type="text/css" />   
<link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" type="text/css" />   
%for css_file in css_files:
    <link href="${css_file}" rel="stylesheet" media="screen" type="text/css" />   
%endfor


<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/makocomponents.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/js/base64v1_0.js"></script>
%for js_file in js_files:
    <script type="text/javascript" src="${js_file}"></script>
%endfor
</head>
<body>
  <div id="main" style="padding-left:10px;padding-right:10px;">
      ${caller.body()}
  </div>
  <script type="text/javascript">
      document.close();
  </script>
</body>
</html>
</%def>