# -*- coding: utf-8 -*-

<%def name="base()">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ce1sus 1ibrary</title>
<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" type="text/css" />
<link href="/css/jquery.dataTables.css" rel="stylesheet" media="screen" type="text/css" />   
<link href="/css/DT_bootstrap.css" rel="stylesheet" media="screen" type="text/css" />   
<link href="/css/components.css" rel="stylesheet" media="screen" type="text/css" />   
<link href="/css/bootstrap.css" rel="stylesheet" media="screen" type="text/css" />   
<link href="/css/bootstrap-theme.min.css" rel="stylesheet" media="screen" type="text/css" />   
<link href="/css/bootstrap-theme.css" rel="stylesheet" media="screen" type="text/css" />   
<link href="/css/datetimepicker.css" rel="stylesheet" media="screen" type="text/css" />   

<script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/js/makocomponents.js" charset="UTF-8"></script>
<script type="text/javascript" src="/js/DT_bootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/js/bquery.dataTables.min.js"></script>


</head>
<body>
    <div id="main" style="padding-left:10px;padding-right:10px;">
        ${caller.body()}
    </div>
</body>
</html>
</%def>