# -*- coding: utf-8 -*- 

<%namespace name="messagesAndText" file="/components/messagesAndText.html"/> 
<%namespace name="modals" file="/components/modals.html"/>
<%namespace name="forms" file="/components/forms.html"/>

<div id="deleteAnswer" style="display: none;">
</div>
<script type="text/javascript">
function deleteAttribute(attributeid){
	$("#deleteAnswer").load("/admin/attributes/modifyAttribute?identifier="
			                +attributeid+"&action=remove", "", 
			   function (responseText, textStatus, XMLHttpRequest) {
			      if(textStatus == 'error') {
			    	  alert('Delete Failed:'+responseText);
			      }
			      if (responseText.match(/^--OK--/gi)) {
			    	  loadContent('groupLeft','/admin/attributes/leftContent');
			      } else {
			    	  alert('Delete Failed:'+responseText);
			      }
			});
}
</script>

<!-- group details -->
<h3>Attribute details:</h3>
<%call expr="forms.attributeForm(attributeDetails, False, cbValues, cbHandlerValues)"/>
<div class="row-fluid">
	<div class="span3" style="text-align: right">
		% if not attributeDetails is None:
		<div class="btn-group">
			<a href="#editAttributeModal" role="button" class="btn"
				data-toggle="modal">Edit</a>
			<button class="btn btn-danger"
				onclick="if (confirm('Are you sure you want to delete?')) {deleteAttribute(${attributeDetails.identifier})}">Delete
				</button>
		</div>
		%endif
	</div>
</div>
<br/>
<h4>Objectmanagment of this attribute:</h4>
% if not attributeDetails is None:
<%call expr="forms.genericForm(id='editObjectAttributes',
                url='/admin/attributes/editObjectAttributes',
                refreshUrl='/admin/attributes/rightContent?attributeid={0}'.format(attributeDetails.identifier),
                refreshContainer='attributeRight')">
<input type="hidden" name="attributeid" value="${attributeDetails.identifier}">
<table border="0" cellpadding="5">
<tr>
    <td>Objects not using this attribute:<BR /> <select name="remainingObjects"
        size="10" multiple="multiple" tabindex="1"> 
        %if not remainingObjects is None:
            % for object in remainingObjects:
                <option value="${object.identifier}">${object.name}</option> 
            % endfor
        %endif
    </select>
    </td>
    <td>
        <button name="operation" class="btn" type="submit" value="remove">&lt;</button>
        <BR />
        <button name="operation" class="btn" type="submit" value="add">&gt;</button>
    </td>
    <td>Objects using this attribute:<BR /> <select name="attributeObjects" size="10"
        multiple> 
        %if not attributeObjects is None:
            % for object in attributeObjects:
                <option value="${object.identifier}">${object.name}</option> 
            % endfor
        %endif
    </select>
    </td>
</tr>
</table>
</%call>
%endif
%if not attributeDetails is None:
	<%call expr="forms.genericModalForm(modalID='editAttributeModal',
	                                    url='/admin/attributes/modifyAttribute',
	                                    refreshUrl='/admin/attributes/rightContent?attributeid={0}'.format(attributeDetails.identifier),
	                                    refreshContainer='attributeRight')">
	<input type="hidden" name="action" value="update">
	<%call expr="modals.userModal(id='editAttributeModal',
	                              title='Edit attribute',
	                              contentUrl='/admin/attributes/editAttribute/{0}'.format(attributeDetails.identifier))"/>
	</%call>
%endif