# -*- coding: utf-8 -*-

<%namespace name="modals" file="/components/modals.html"/>
<%namespace name="forms" file="/components/forms.html"/>

<div class="btn-Object">
	<a href="#addAttributeModal" role="button" class="btn" data-toggle="modal">Add
		new attribute</a>
</div>
<br />
<% 
foundAttribute=False 
fistAttributeID=0
%>
<!--list of attributes -->
<script type="text/javascript">
function loadAttribute(attributeID){
    $("#attributeRight").load("/admin/attributes/rightContent?attributeid="
    		+attributeID, "", 
		   function (responseText, textStatus, XMLHttpRequest) {
		      if(textStatus == 'error') {
		          $('#attributeRight').html('<div class="alert alert-error">'
		        		  +'There was an error making the AJAX request</div>'
		        		  +responseText);
		      }
		});
}
</script>

<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
	style="display: block; position: static; margin-bottom: 5px; *width: 180px;">
	%if not attributes is None: 
		% for attribute in attributes:
		  <%
		  if not foundAttribute:
		      fistAttributeID = attribute.identifier
		      foundAttribute=True
		  %>
		   <li><a tabindex="-1" href="#" 
		   onclick="loadAttribute(${attribute.identifier})">${attribute.name}
		   </a></li>
		% endfor 
	%endif
	
</ul>

<!-- AddAttributeForm -->
<%call expr="forms.genericModalForm(modalID='addAttributeModal',
                                    url='/admin/attributes/modifyAttribute',
                                    refreshUrl='/admin/attributes', 
                                    refreshContainer='adminTabsTabContent')">
<input type="hidden" name="action" value="insert">
<%call expr="modals.groupModal(id='addAttributeModal',title='Add attribute',
                               contentUrl='/admin/attributes/addAttribute')"/>
</%call>

<script type="text/javascript">
$(document).ready(function() {
	loadAttribute(${fistAttributeID})
});
</script>