# -*- coding: utf-8 -*-

<%namespace name="labeledInput" file="/dagr/components/labeledInput.html"/>

<%def name="generic_form(id, url, refresh_url=None,refresh_container=None,horizontal=True)">
<%
if horizontal:
   form_class='class="form-horizontal"'
else:
   form_class='class="form-inline"'
%>
<div id="${id}Errors"></div>
<form id="${id}Form" ${form_class} role="form">
    ${caller.body()}
</form>
<script type="text/javascript">
$( document ).ready(function() {
	$('#${id}Form').submit(function(event){
		<%
		if not (refresh_url is None and refresh_container is None):
			refresh = 'true'
		else:
			refresh = 'false'	
		%>
		formEvent(this,event,'${url}','${id}',${refresh},'${refresh_container}','${refresh_url}');
	});
});
</script>
</%def>

<%def name="reload_tab_form(id, url, reload_tab_id, tab_url, horizontal=True)">
<%
if horizontal:
   form_class='class="form-horizontal"'
else:
   form_class='class="form-inline"'
%>
<div id="${id}Errors"></div>
<form id="${id}Form" ${form_class} role="form">
    ${caller.body()}
</form>
<script type="text/javascript">
$( document ).ready(function() {
    $('#${id}Form').submit(function(event){
        formEvent(this,event,'${url}','${id}',false,null,null);
        reloadSideNav('${reload_tab_id}');
    });
});
</script>
</%def>

<%def name="generic_modal_form(modal_id, url, refresh_url=None, refresh_container=None)">
<form id="${modal_id}Form" name="${modal_id}FormName" method="POST" action="${url}" class="form-horizontal" enctype="multipart/form-data">
    ${caller.body()}
</form>
<script type="text/javascript">
$( document ).ready(function() {
	$("#${modal_id}Form").submit(function(event){
	    <%
	    if not (refresh_url is None and refresh_container is None):
	        refresh = 'true'
	    else:
	        refresh = 'false'
	    %>
		formSubmit(this,event,'${modal_id}' , '${url}','${refresh}','${refresh_container}','${refresh_url}')
	});
});
</script>
</%def>
