# -*- coding: utf-8 -*-

<%namespace name="dagr" module="dagr.web.helpers.webstrings"/>
<%namespace name="messages_and_text" file="/dagr/components/messagesAndText.html"/>


<%def name="textbox(name, message, cols=40, rows=5 ,enabled=True, validation_msg=None)">
	<!-- BEGIN textBox --><%
	if message is None:
	  message = ''
	  
	if enabled:
	  enabledStr = ''
	else:
	  enabledStr =  ' disabled ' 
	
	if hasattr(message,'error'):
	  validation_msg = getattr(message,'error')
	%>
	<% if message == 'None':
	     message = ''
	%>
	%if enabled or message is None:
	    <textarea class="form-control" id="${name}ID" name="${name}" cols="${cols}" rows="${rows}"  ${enabledStr} >${message}</textarea>
	%else:
	    <div style="text-align:left;overflow:auto; height:${rows*25}px">
	      ${dagr.plaintext2html(text=message)}
	    </div>
        %if message:
        <input type="hidden" id="${name}ID" name="${name}" value="${message}">
        %endif
	%endif
	
	% if (not (validation_msg is None)):
	  <%call expr="messages_and_text.error(validation_msg)"/>
	% endif
	<!-- END textBox -->
</%def>




<%def name="passowdBox(name, value, enabled=True, validation_msg=None)">
	<!-- BEGIN passowdBox --><%
	if (enabled):
	  enabledStr = ''
	else:
	  enabledStr =  ' disabled ' 
	
	if hasattr(value,'error'):
	  validation_msg = getattr(value,'error')
	
	if value is None:
	  value = ''
	%>
	%if enabled or value is None:
	    <input class="form-control" id="${name}ID" name="${name}" type="password" value="${value}" ${enabledStr}/>
	%else:
	    <div style="text-align:left;">
	      %if value == 'EXTERNALAUTH':
	      ${value}
	      %else:
	      ************
	      %endif
	    </div>
	%endif
	% if (not (validation_msg is None)) and enabled:
	  <%call expr="messages_and_text.error(validation_msg)"/>
	% endif
	<!-- END passowdBox -->
    <script type="text/javascript">
       $(document).ready(function() {
    	  $('#${name}ID').keydown(function(event){
    	    if(event.keyCode == 13) {
    	      event.preventDefault();
    	      return false;
    	    }
    	  });
    	});
    </script>
</%def>




<%def name="editbox(name, value, enabled=True, validation_msg=None)">
	<!-- BEGIN editBox --><%
	if (enabled):
	  enabledStr = ''
	else:
	  enabledStr =  ' disabled ' 
	
	if hasattr(value,'error'):
	  validation_msg = getattr(value,'error')
	
	if value is None:
	  value = ''
	%>
	
	%if enabled or value is None:
	    <input class="form-control" id="${name}ID" name="${name}" type="text" value="${value}" ${enabledStr}"/>
	%else:
	    <div style="text-align:left;">
	    %if hasattr(value,'url'):
	       <a href="${value.url}"  target="_blank">${value.identifier}</a>
	    %else:
	      ${dagr.plaintext2html(text=value)}
	    %endif
	    </div>
        %if value:
        <input type="hidden" id="${name}ID" name="${name}" value="${value}">
        %endif
	%endif
	% if (not (validation_msg is None)) and enabled:
	  <%call expr="messages_and_text.error(validation_msg)"/>
	% endif
	<!-- END editBox -->
	    <script type="text/javascript">
       $(document).ready(function() {
          $('#${name}ID').keydown(function(event){
            if(event.keyCode == 13) {
              event.preventDefault();
              return false;
            }
          });
        });
    </script>
</%def>




<%def name="combobox(name, values, enabled=True, selected=None, validation_msg=None, has_empty=False, sorted=True)">
	<!-- BEGIN comboBox --><%
	if (enabled):
	  enabledStr = ''
	else:
	  enabledStr =  ' disabled ' 
	
	if not selected is None and hasattr(selected,'error'):
	  validation_msg = getattr(selected,'error')
	
	hasDataContent=False
	dataToggle=''
	keys = list(values.keys())
	if sorted:
	   keys.sort()
	 %>
	%if enabled:
	 <select class="form-control" id="${name}ID" name="${name}" ${enabledStr}>
	  %if not values is None:
	    %if has_empty:
	        %if not selected:
	        <option value="" data-toggle="tooltip" title="Empty Value. Please Select one." selected></option>
	        %else:
	        <option value="" data-toggle="tooltip" title="Empty Value. Please Select one."></option>
	        %endif
	    %endif
	    %if not values is None:
	        %for key in keys:
	            <%
	            value = values.get(key,None)
	            if isinstance(value, tuple):
	               title = 'title="{0}"'.format(dagr.plaintext2html(text=value[1]))
	               value = value[0]
	               if not hasDataContent:
	                 hasDataContent = True
	                 dataToggle='data-toggle="tooltip"'
	            else:
	               title = ''
	            %>
	            %if not selected is None and value == selected:
	              <option value="${value}" ${dataToggle} ${title} selected>${key}</option>
	            %else:
	              <option value="${value}" ${dataToggle} ${title} >${key}</option>
	            %endif
	        %endfor
	    %endif
	  %endif 
	</select> 
	%else:
	    <div style="text-align:left;">
	        %for key, value in values.iteritems():
	           <%
                if isinstance(value, tuple):
                   value = value[0]
                    
                %>
	        
	            %if not selected is None and value == selected:
	              ${key}
	              <input type="hidden" id="${name}ID" name="${name}" value="${value}">
	            %endif
	        %endfor
	    </div>
	%endif
	% if (not (validation_msg is None)) and enabled:
	  <%call expr="messages_and_text.error(validation_msg)"/>
	% endif
	<!-- END comboBox -->
</%def>








<%def name="datetime_picker(name, value, enabled=True, validation_msg=None)">
<%
    
    dateTime = '' 
    if hasattr(value,'error'):
      validation_msg = getattr(value,'error')
      dateTime = getattr(value,'value')
    else:
      if value is None:
        dateTime = ''
      else:
         if enabled:
            dateTime = unicode(value)
            #remove seconds if present
            temp = '{0}'.format(dateTime).split('.')
            dateTime = temp[0]
         else:
	        if hasattr(value,'isoformat'):
	            dateTime = value.isoformat()
	        else:
	            dateTime = unicode(value)
%>
            %if enabled:
            <div>
	            <div class="form-group" >
	              <input class="form-control" type='text' id="${name}ID" name="${name}" value="${dateTime}"/>
	              Format must be: 'yyyy-MM-dd HH:mm:ss' UTC
	            </div>
            </div>
            
     
            %else:
            <div style="text-align:left;">
                      ${dagr.plaintext2html(text=dateTime)}
            </div>
              %if value:
              <input type="hidden" id="${name}ID" name="${name}" value="${value}">
              %endif
            %endif

    % if (not (validation_msg is None)):
      <%call expr="messages_and_text.error(validation_msg)"/>
    % endif
        <script type="text/javascript">
       $(document).ready(function() {
          $('#${name}ID').keydown(function(event){
            if(event.keyCode == 13) {
              event.preventDefault();
              return false;
            }
          });
        });
    </script>
</%def>





