# -*- coding: utf-8 -*-

<%namespace name="dagr" module="dagr.web.helpers.string"/>
<%namespace name="messagesAndText" file="/dagr/components/messagesAndText.html"/>


<%def name="textBox(name, message, cols=40, rows=5 ,enabled=True, validationMsg=None)">
	<!-- BEGIN textBox --><%
	if message is None:
	  message = ''
	  
	if enabled:
	  enabledStr = ''
	else:
	  enabledStr =  ' disabled ' 
	
	if hasattr(message,'error'):
	  validationMsg = getattr(message,'error')
	%>
	<% if message == 'None':
	     message = ''
	%>
	%if enabled or message is None:
	    <textarea class="form-control" id="${name}ID" name="${name}" cols="${cols}" rows="${rows}"  ${enabledStr} >${message}</textarea>
	%else:
	    <div style="text-align:left;overflow:auto; height:${rows*25}px">
	      ${dagr.plaintext2html(text=message)}
	    </div>
	%endif
	
	% if (not (validationMsg is None)):
	  <%call expr="messagesAndText.error(validationMsg)"/>
	% endif
	<!-- END textBox -->
</%def>




<%def name="passowdBox(name, value, enabled=True, validationMsg=None)">
	<!-- BEGIN passowdBox --><%
	if (enabled):
	  enabledStr = ''
	else:
	  enabledStr =  ' disabled ' 
	
	if hasattr(value,'error'):
	  validationMsg = getattr(value,'error')
	
	if value is None:
	  value = ''
	%>
	%if enabled or value is None:
	    <input class="form-control" id="${name}ID" name="${name}" type="password" value="${value}" ${enabledStr}/>
	%else:
	    <div style="text-align:left;">
	      %if value == 'EXTERNALAUTH':
	      ${value}
	      %else:
	      ************
	      %endif
	    </div>
	%endif
	% if (not (validationMsg is None)) and enabled:
	  <%call expr="messagesAndText.error(validationMsg)"/>
	% endif
	<!-- END passowdBox -->
</%def>




<%def name="editBox(name, value, enabled=True, validationMsg=None)">
	<!-- BEGIN editBox --><%
	if (enabled):
	  enabledStr = ''
	else:
	  enabledStr =  ' disabled ' 
	
	if hasattr(value,'error'):
	  validationMsg = getattr(value,'error')
	
	if value is None:
	  value = ''
	%>
	
	%if enabled or value is None:
	    <input class="form-control" id="${name}ID" name="${name}" type="text" value="${value}" ${enabledStr}"/>
	%else:
	    <div style="text-align:left;">
	      ${value}
	    </div>
	%endif
	% if (not (validationMsg is None)) and enabled:
	  <%call expr="messagesAndText.error(validationMsg)"/>
	% endif
	<!-- END editBox -->
</%def>




<%def name="comboBox(name, values, enabled=True, selected=None, validationMsg=None, hasEmpty=False)">
	<!-- BEGIN comboBox --><%
	if (enabled):
	  enabledStr = ''
	else:
	  enabledStr =  ' disabled ' 
	
	if not selected is None and hasattr(selected,'error'):
	  validationMsg = getattr(selected,'error')
	
	hasDataContent=False
	dataToggle=''
	 %>
	%if enabled or selected is None:
	 <select class="form-control" id="${name}ID" name="${name}" ${enabledStr}>
	  %if not values is None:
	    %if hasEmpty:
	        %if not selected:
	        <option value="" data-toggle="tooltip" title="Empty Value. Please Select one." selected></option>
	        %else:
	        <option value="" data-toggle="tooltip" title="Empty Value. Please Select one."></option>
	        %endif
	    %endif
	    %if not values is None:
	        %for key, value in values.iteritems():
	            <%
	            if isinstance(value, tuple):
	               title = 'title="{0}"'.format(value[1])
	               value = value[0]
	               if not hasDataContent:
	                 hasDataContent = True
	                 dataToggle='data-toggle="tooltip"'
	            else:
	               title = ''
	            %>
	            %if not selected is None and value == selected:
	              <option value="${value}" ${dataToggle} ${title} selected>${key}</option>
	            %else:
	              <option value="${value}" ${dataToggle} ${title} >${key}</option>
	            %endif
	        %endfor
	    %endif
	  %endif 
	</select> 
	%else:
	    <div style="text-align:left;">
	        %for key, value in values.iteritems():
	           <%
                if isinstance(value, tuple):
                   value = value[0]
                    
                %>
	        
	            %if not selected is None and value == selected:
	              ${key}
	              <input type="hidden" id="${name}ID" value="${value}"/>
	            %endif
	        %endfor
	    </div>
	%endif
	% if (not (validationMsg is None)) and enabled:
	  <%call expr="messagesAndText.error(validationMsg)"/>
	% endif
	<!-- END comboBox -->
</%def>








<%def name="dateTimePicker(name, value, enabled=True, validationMsg=None)">
<%
    
    dateTime = '' 
    if hasattr(value,'error'):
      validationMsg = getattr(value,'error')
      dateTime = getattr(value,'value')
    else:
      if value is None:
        dateTime = ''
      else:
        dateTime = unicode(value)
    #remove seconds if present
    temp = '{0}'.format(dateTime).split('.')
    dateTime = temp[0]
%>



   
            %if enabled:
            <div>
	            <div class="form-group" style="padding-left:15px;padding-right:15px">
	                <div class='input-group date' id='${name}ID'>
	                    <input type='text' class="form-control" data-format="yyyy-MM-dd HH:mm:ss" name="${name}" value="${dateTime}"/>
	                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
	            </div>
            </div>
            %else:
            <div style="text-align:left;">
                      ${dateTime}
                    </div>
            %endif
    
        %if enabled:
        <script type="text/javascript">
            $(function () {
                $('#${name}ID').datetimepicker({
                    language: 'uk',
                    pickSeconds: true,
                    pickTime: true,
                    pickDate: true
                });
            });
        </script>
        %endif
    % if (not (validationMsg is None)) and enabled:
      <%call expr="messagesAndText.error(validationMsg)"/>
    % endif
</%def>





