# -*- coding: utf-8 -*-


<%namespace name="input" file="/dagr/components/input.html"/>

<%def name="generic_labeler(label, enabled=False)">
	<!-- BEGIN generic_labeler -->
	%if enabled:
	<div class="form-group" style="text-align: right;">
	  <label class="col-xs-3 control-label">
	      ${label}${':' if label else ''}
	      </label>
	      <div class="col-xs-9" style="text-align: left;">
	       ${caller.body()}
	      </div>
	</div>
	%else:
	<div class="row">
	   <div class="col-xs-3" style="text-align:right;padding:7px;padding-left:15px">
	   <label>
	   ${label}${':' if label else ''}
	   </label>
	   </div>
	   <div class="col-xs-9" style="padding:7px;padding-left:15px" style="text-align: left;">
	   ${caller.body()}
       </div>
	</div>
	%endif
	
	<!-- END generic_labeler -->
</%def>

<%def name="labeled_editbox(label, name, value, enabled=True, validation_msg=None)">
	<!-- BEGIN labeledEditBox -->
	<%call expr="generic_labeler(label,enabled)">
	  <%call expr="input.editbox(name, value, enabled, validation_msg)"/>
	</%call>
	<!-- END labeledEditBox -->
</%def>




<%def name="labeledPasswordBox(label, name, value, enabled=True, validation_msg=None)">
	<!-- BEGIN labeledPasswordBox -->
	<%call expr="generic_labeler(label,enabled)">
	  <%call expr="input.passowdBox(name, value, enabled, validation_msg)"/>
	</%call>
	<!-- END labeledPasswordBox -->
</%def>




<%def name="labeled_textbox(label, name, message, enabled=True, validation_msg=None, cols=40, rows=5)">
	<!-- BEGIN labeledTextBox -->
	<%call expr="generic_labeler(label,enabled)">
	  <%call expr="input.textbox(name, message, cols, rows, enabled, validation_msg)"/>
	</%call>
	<!-- END labeledTextBox -->
</%def>




<%def name="labeled_combobox(label, name, values, enabled=True, validation_msg=None, selected=None, has_empty=False)">
	<!-- BEGIN labeledComboBox -->
	<%call expr="generic_labeler(label,enabled)">
	  <%call expr="input.combobox(name, values, enabled, selected, validation_msg, has_empty)"/>
	</%call>
	<!-- END labeledComboBox -->
</%def>




<%def name="labeled_datetime_picker(label, name, value, enabled=True)">
	<!-- BEGIN labeledDateTimePicker -->
	<%call expr="generic_labeler(label,enabled)">
	  <%call expr="input.datetime_picker(name, value, enabled)"/>
	</%call>
	<!-- END labeledDateTimePicker -->
</%def>




<%def name="labeled_yes_no_combobox(label,name,selected=None,enabled=True,has_empty=False)">
	<!-- BEGIN labeledYesNoComboBox -->
	<%call expr="labeled_combobox(label=label,name=name,values={'No':0, 'Yes':1},enabled=enabled,has_empty=has_empty,selected=selected)"/>
	<!-- BEGIN labeledYesNoComboBox -->
</%def>
