# -*- coding: utf-8 -*-


<%namespace name="input" file="/dagr/components/input.html"/>

<%def name="genericLabeler(label, enabled=False)">
	<!-- BEGIN genericLabeler -->
	%if enabled:
	<div class="form-group" style="text-align: right;">
	  <label class="col-xs-3 control-label">
	      ${label}${':' if label else ''}
	      </label>
	      <div class="col-xs-9" style="text-align: left;">
	       ${caller.body()}
	      </div>
	</div>
	%else:
	<div class="row">
	   <div class="col-xs-3" style="text-align:right;padding:7px;padding-left:15px">
	   <label>
	   ${label}${':' if label else ''}
	   </label>
	   </div>
	   <div class="col-xs-9" style="padding:7px;padding-left:15px" style="text-align: left;">
	   ${caller.body()}
       </div>
	</div>
	%endif
	
	<!-- END genericLabeler -->
</%def>

<%def name="labeledEditBox(label, name, value, enabled=True, validationMsg=None)">
	<!-- BEGIN labeledEditBox -->
	<%call expr="genericLabeler(label,enabled)">
	  <%call expr="input.editBox(name, value, enabled, validationMsg)"/>
	</%call>
	<!-- END labeledEditBox -->
</%def>




<%def name="labeledPasswordBox(label, name, value, enabled=True, validationMsg=None)">
	<!-- BEGIN labeledPasswordBox -->
	<%call expr="genericLabeler(label,enabled)">
	  <%call expr="input.passowdBox(name, value, enabled, validationMsg)"/>
	</%call>
	<!-- END labeledPasswordBox -->
</%def>




<%def name="labeledTextBox(label, name, message, enabled=True, validationMsg=None)">
	<!-- BEGIN labeledTextBox -->
	<%call expr="genericLabeler(label,enabled)">
	  <%call expr="input.textBox(name, message, 40, 5, enabled, validationMsg)"/>
	</%call>
	<!-- END labeledTextBox -->
</%def>




<%def name="labeledComboBox(label, name, values, enabled=True, validationMsg=None, selected=None, hasEmpty=False)">
	<!-- BEGIN labeledComboBox -->
	<%call expr="genericLabeler(label,enabled)">
	  <%call expr="input.comboBox(name, values, enabled, selected, validationMsg, hasEmpty)"/>
	</%call>
	<!-- END labeledComboBox -->
</%def>




<%def name="labeledDateTimePicker(label, name, value, enabled=True)">
	<!-- BEGIN labeledDateTimePicker -->
	<%call expr="genericLabeler(label,enabled)">
	  <%call expr="input.dateTimePicker(name, value, enabled)"/>
	</%call>
	<!-- END labeledDateTimePicker -->
</%def>




<%def name="labeledYesNoComboBox(label,name,selected=None,enabled=True,hasEmpty=False)">
	<!-- BEGIN labeledYesNoComboBox -->
	<%call expr="labeledComboBox(label=label,name=name,values={'No':0, 'Yes':1},enabled=enabled,hasEmpty=hasEmpty,selected=selected)"/>
	<!-- BEGIN labeledYesNoComboBox -->
</%def>
