# -*- coding: utf-8 -*-

<%namespace name="dagr" module="dagr.web.helpers.webstrings"/>

<%def name="error(message=None)">
%if not message is None:
<div class="alert alert-block alert-danger">${message}</div>
%endif
</%def>

<%def name="error_dialog(message=None)">
%if not message is None:
<div class="alert alert-block alert-danger fade in">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	<h4 class="alert-heading">Error occurred</h4>
	<p>${dagr.plaintext2html(text=message)}</p>
</div>
%endif
</%def>


<%def name="b64(text)">${dagr.base64(dagr.plaintext2html(text=text))}</%def>


<%def name="object_to_html(object,shorten_to=0, use_plain_text=False, remove_if_escape=False)"><%
classname = type(object).__name__

if hasattr(object,'isoformat'):
  string = object.isoformat()
else:
  string = u'{0}'.format(object)
if shorten_to > 0:
  result = string[:shorten_to]
if len(string) >= shorten_to:
  result = result + '...'
else:
  result = string
if 'Link' in object.__class__.__name__:
  result = u'<a href="{0}" target="_blank">{1}</a>'.format(dagr.plaintext2html(text=object.url), object.identifier,remove_if_escaped=remove_if_escape)
else:
  if not use_plain_text: 
    result = dagr.plaintext2html(text=result,remove_if_escaped=remove_if_escape)
%>${result}</%def>