# -*- coding: utf-8 -*-




<%def name="error(message=None)">
	<!-- BEGIN ErrorMsg -->
	%if not message is None:
	    <div class="alert alert-block alert-danger">${message}</div>
	%endif
	<!-- END ErrorMsgs -->
</%def>

<%def name="errorDialog(message=None)">
	%if not errorMsg is None:
	<div class="alert alert-block alert-danger fade in">
	    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4 class="alert-heading">An expected Error occurred!</h4>
		<p>${errorMsg}</p>
	</div>
	%endif
</%def>




<%def name="objectToHTML(object)">
	<!-- BEGIN objectToHTML -->
	<%
	  classname = type(object).__name__
	%>

	    %if "Link" in classname:
	       <a href="${object.url}"  target="_blank">${object.identifier}</a>
	    %else:
	       ${object}
	    %endif
	<!-- END objectToHTML -->
</%def>