# -*- coding: utf-8 -*-

<%namespace name="dagr" module="dagr.web.helpers.string"/>

<%def name="error(message=None)">
%if not message is None:
	<div class="alert alert-block alert-danger">${message}</div>
%endif
</%def>

<%def name="errorDialog(message=None)">
%if not errorMsg is None:
	<div class="alert alert-block alert-danger fade in">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4 class="alert-heading">An unexpected Error occurred!</h4>
		<p>${errorMsg}</p>
	</div>
%endif
</%def>




<%def name="objectToHTML(object,shortenTo=0, usePlainText=False)">
<%
classname = type(object).__name__

if hasattr(object,'isoformat'):
  string = object.isoformat()
else:
  string = unicode(object)
if shortenTo > 0:
  result = string[:shortenTo]
if len(string) >= shortenTo:
  result = result + '...'
else:
  result = string %>
%if "Link" in classname:
    <a href="${object.url}"  target="_blank">${object.identifier}</a>
%else:
    %if usePlainText: 
        ${dagr.plaintext2html(text=result)}
    %else:
        ${result}
    %endif
%endif
</%def>