# -*- coding: utf-8 -*-

<%namespace name="forms" file="/dagr/components/forms.html"/>

<%def name="genericModal(id, title, contentUrl, big=False)">
<%
if big:
  style='style="width: 80%;margin-left:-40%;"'
else:
  style=''
%><!-- BEGIN GenericModal -->
<div id="${id}" class="modal fade" ${style} role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align:left">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="${id}Label">${title}</h3>
      </div>
      <div id="${id}body" class="modal-body">
      </div>
      <div id="${id}Footer" class="modal-footer">
        ${caller.body()}
      <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

%if not contentUrl is None:
	$("#${id}").on("show.bs.modal", function() { // wire up modal when shown
		loadContent('${id}body','${contentUrl}')
	});
%endif

$("#${id}").on("hide.bs.modal", function() { // wire up modal when shown
    $("#${id}body").empty();
    //workaround---
    $('.modal-backdrop').remove();
    document.documentElement.style.overflow = "auto";
    document.body.style.marginRight='0px';
});
</script>

<!-- END GenericModal -->
</%def>

<%def name="genericDialogModal(id, title, big=False)">
<%
if big:
  style='style="width: 80%;margin-left:-40%;"'
else:
  style=''
%><!-- BEGIN GenericModal -->
<div id="${id}" class="modal fade" ${style} role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="text-align:left">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="${id}Label">${title}</h3>
      </div>
      <div class="modal-body">
        ${caller.body()}
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END GenericModal -->
</%def>


<%def name="saveButtonModal(id,title,contentUrl,enabled=True)">
    <%call expr="genericModal(id=id,title=title,contentUrl=contentUrl)">
      %if enabled:
       <input class="btn btn-primary" type="submit" value="Save changes"/>
      %endif
    </%call>
</%def>
