# -*- coding: utf-8 -*-

<%namespace name="forms" file="/dagr/components/forms.html"/>

<%def name="genericModal(id, title, contentUrl, big=False)">
<%
if big:
  style='style="width: 80%;margin-left:-40%;"'
else:
  style=''
%><!-- BEGIN GenericModal -->
<div id="${id}" class="modal hide fade" ${style}>
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3 id="${id}Label">${title}</h3>
  </div>
  <div id="${id}body" class="modal-body">
  </div>
  <div id="${id}Footer" class="modal-footer">
    ${caller.body()}
    <button class="btn" data-dismiss="modal">Close</button>
   </div>
</div>
<script type="text/javascript">

%if not contentUrl is None:
	$("#${id}").on("shown", function() { // wire up modal when shown
		loadContent('${id}body','${contentUrl}')
	});
%endif

$("#${id}").on("hide", function() { // wire up modal when shown
    $("#${id}body").empty();
});
</script>

<!-- END GenericModal -->
</%def>

<%def name="genericDialogModal(id, title, big=False)">
<%
if big:
  style='style="width: 80%;margin-left:-40%;"'
else:
  style=''
%><!-- BEGIN GenericModal -->
<div id="${id}" class="modal hide fade" ${style}>
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 id="${id}Label">${title}</h3>
  </div>
  <div id="${id}body" class="modal-body">
      ${caller.body()}
  </div>
  <div id="${id}Footer" class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>
<!-- END GenericModal -->
</%def>


<%def name="saveButtonModal(id,title,contentUrl,enabled=True)">
    <%call expr="genericModal(id=id,title=title,contentUrl=contentUrl)">
      %if enabled:
       <input class="btn btn-primary" type="submit" value="Save changes"/>
      %endif
    </%call>
</%def>
