# -*- coding: utf-8 -*-
<%def name="list(id)">
<div class="row">
  <div class="col-xs-2 col-sm-2">
    <div id="${id}" class="mylist-group">
      ${caller.body()}
    </div>
  </div>
  <div id="SideNavContent" class="col-xs-10 col-sm-10">
  </div>
</div>

<script type="text/javascript">
$(document).ready(function () { 
    findAndLoadActiveSideNav('${id}');
});
</script>
</%def>



<%def name="entry(id, url, name, active=False, reload=True, close=False, reloadBotton=False)">
<%
if active:
  linkclass = 'class="mylist-group-item active"'
else:
  linkclass = 'class="mylist-group-item"'

if reload:
  reloadStr = 'true'
else:
  reloadStr = 'false'

if reloadBotton: 
  reloadButton = '&#x21bb;'
else:
  reloadButton = ''

if close:
  closeButton = 'x'
else:
  closeButton = ''
%>

  <div ${linkclass}>
    <div id="${id}" src="${url}" class="link" onclick="loadSideNav(this.id, ${reloadStr})">
      ${name}
    </div>
    %if reloadButton:
    <div id="${id}" class="badge" onclick="loadSideNav(this.id, true)">
      ${reloadButton}
    </div>
    %endif
    
    %if closeButton:
    <div class="badge">
      ${closeButton}
    </div>
    %endif

    <div style="clear: both;"></div>
  </div>

</%def>


