# -*- coding: utf-8 -*-


<%def name="tabulator(id)">

<ul class="nav nav-tabs" id="${id}" style="margin-bottom:15px">
    ${caller.body()}
</ul>
<div id="${id}TabContent">
</div>

<script type="text/javascript">
$(document).ready(function () { 
    findAndLoadActiveLi('${id}','${id}TabContent');
});
</script>
</%def>


<%def name="tab(id,url,name,active=False, reload=True)">
<%
if active:
  activeString=' class="active"'
else:
  activeString =''
  
if reload:
  reloadStr = 'true'
  reloadButton = ''
else:
  reloadStr = 'false'
  reloadButton = '&nbsp;<button id="{0}" class="close" title="Reloads this Tab" type="button" onclick="loadTabLi(this.id, true)" >&#x21bb;</button>'.format(id)
%>
<li ${activeString} id="${id}LI"><a href="#" src="${url}" onclick="loadTabLi(this.id, ${reloadStr})" id="${id}">${name} ${reloadButton}</a></li>
</%def>