# -*- coding: utf-8 -*-


<%def name="tabulator(id)">
<ul class="nav nav-tabs" id="${id}">
    ${caller.body()}
</ul>
<div  class="tab-content" id="${id}TabContent" style="margin-top:30px;margin-left:30px;margin-right:30px">
</div>

<script type="text/javascript">
$(document).ready(function () { 
    findAndLoadActiveTab('${id}');
});
</script>
</%def>


<%def name="tab(id,url,name,active=False, reload=True)">
<%
if active:
  activeString=' class="dropdown active"'
else:
  activeString ='class="dropdown"'
if reload:
  reloadStr = 'true'
else:
  reloadStr = 'false'
%>
<li ${activeString} id="${id}LI">
<a href="#" id="${id}" class="dropdown-toggle active" data-toggle="dropdown" src="${url}" onclick="loadTab(this.id, ${reloadStr})">
    ${name}
</a>
</li>
</%def>

