# -*- coding: utf-8 -*-

<%namespace name="baseComponents" file="/components/baseComponents.html"/>
<%namespace name="modals" file="/components/modals.html"/>
<%namespace name="forms" file="/components/forms.html"/>
<%inherit file="/layout/baselayout.html"/>

<h2>Event #${eventID}</h2>
<ul class="nav nav-tabs">
    <li><a href="/events/event/${eventID}">Overview</a></li>
    <li><a href="/events/eventObjects/${eventID}">Objects</a></li>
    <li><a href="/events/eventTickets/${eventID}">Tickets</a></li>
    <li class="active" ><a href="#">Groups</a></li>
</ul>

<h4>Groupmanagment:</h4>
        <form action="/events/editEventGroups" method="post">
            % if not userDetails is None:
            <input type="hidden" name="eventID"
                value="${eventID}">
            %endif
            <table border="0" cellpadding="5">
                <tr>
                    <td>Event is not part of these groups:<BR /> <select name="remainingGroups"
                        size="10" multiple="multiple" tabindex="1"> 
                        %if not remainingGroups is None:
                            % for group in remainingGroups:
                                <option value="${group.identifier}">${group.name}</option> 
                            % endfor
                        %endif
                    </select>
                    </td>
                    <td>
                        <button name="operation" class="btn" type="submit" value="remove">&lt;</button>
                        <BR />
                        <button name="operation" class="btn" type="submit" value="add">&gt;</button>
                    </td>
                    <td>Event is part of these groups:<BR /> <select name="eventGroups" size="10"
                        multiple> 
                        %if not eventGroups is None:
                            % for group in eventGroups:
                                <option value="${group.identifier}">${group.name}</option> 
                            % endfor
                        %endif
                    </select>
                    </td>
                </tr>
            </table>

        </form>
