<%namespace name="baseComponents" file="/components/baseComponents.html"/>
<%namespace name="modals" file="/components/modals.html"/>
<%namespace name="forms" file="/components/forms.html"/>
<%inherit file="/layout/baselayout.html"/>




<h2>Event #${event.identifier}</h2>
<ul class="nav nav-tabs">
    <li><a href="/events/event/${event.identifier}">Overview</a></li>
    <li  ><a href="/events/eventObjects/${event.identifier}">Objects</a></li>
    <li class="active"><a href="#">Tickets</a></li>
    <li><a href="/events/eventGroups/${event.identifier}">Groups</a></li>
</ul>
<div class="btn-group">
  <a href="#searchTickets" role="button" class="btn" data-toggle="modal">Reference Ticket</a>
</div>
<form action="/events/modifyEventTicket" method="post">
<%call expr="modals.genericModal(id='searchTickets',title='Select tickets to be added',showButtons=True,refreshUrl='/events/eventTickets/{0}'.format(event.identifier),big=True)">
    <input type="hidden" name="eventID" value="${event.identifier}">
    <input type="hidden" name="action" value="insert">
    <%call expr="baseComponents.pagination('ticketTable',paginator)"/> 
</%call>
</form>

<%call expr="baseComponents.pagination('ticketsTable',ticketPaginator,hasSearch=True)"/> 
